//$google-fonts-url: 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,500,700';

@if variable-exists(google-fonts-url) {
  @import url($google-fonts-url);
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
  url('../fonts/Poppins-Regular.woff') format('woff'),
  url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
  url('../fonts/Poppins-Medium.woff') format('woff'),
  url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
  url('../fonts/Poppins-Bold.woff') format('woff'),
  url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SofiaPro';
  src: url('../fonts/sofiapro-light.eot');
  src: url('../fonts/sofiapro-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sofiapro-light.woff') format('woff'),
  url('../fonts/sofiapro-light.ttf') format('truetype'),
  url('../fonts/sofiapro-light.svg#sofiapro-light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SofiaPro';
  src: url('../fonts/sofiapro-regular.woff2') format('woff2'),
       url('../fonts/sofiapro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SofiaPro';
  src: url('../fonts/sofiapro-medium.woff2') format('woff2'),
       url('../fonts/sofiapro-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SofiaPro';
  src: url('../fonts/sofiapro-bold.woff2') format('woff2'),
       url('../fonts/sofiapro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SofiaPro';
  src: url('../fonts/sofiapro-black.woff2') format('woff2'),
       url('../fonts/sofiapro-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
