// Colors
$black: #202020;
$black-two: #000000;
$black-bf: #343434;
$dark-grey: #808080;
$darker-grey: #4A4A4A;
$grey: #ADADA9;
$medium-grey: #7c7c7c;
$light-grey: #D2D2D2;
$white: #FFFFFF;
$white-50: rgba(255, 255, 255, 0.5);
$white-65: rgba(255, 255, 255, 0.5);
$green: #47BD9B;
$green-light: #f1fefa;
$green-dark: #329B7d;
$green-darker: #116153;
$blue: #79A7BF;
$blue-light: #dcf2ec;
$blue-medium: #87b0c9;
$blue-dark: #425B68;
$blue-deep: #2f4a8b;
$yellow: #FDB72A;
$yellow-dark: #d29807;
$yellow-light: #FEF9E8;
$orange: #FF9540;
$orange-light: #EEA770;
$orange-dark: #8F6718;
$orange-darker: #815E43;
$pink: #F8715B;
$pink-light: #EE7D6D;
$pink-dark: #88443B;

// Add custom variables here
$primary: $green;
$secondary: #DB5554;
$tertiary: #00A4AB;
$quaternary: #EBEBEB;
$quinary: #F5F5F5;
$grey-bottom: #E4E3E3;
$gray-pale: #fafafa;
$danger: $pink;
$warning: #F39C12;
$success: $green;
$body-background-color: $gray-pale;
$grey-store-selected: #f8f7f7;
$green-store-option: #f8fefc;
$orange-pale: #fefaee;
$blue-facebook: #3b5997;
$color-checkout-login-box-shadow: #acacac;
$grey-cart-side: #f0efef;
$red-out-of-stock: #f85c46;

//Shadows
$box-shadow-20: 0 1px 3px 0 rgba(48,49,51,0.10);
$box-shadow-40: 0 2px 4px 0 rgba(48,49,51,0.10);
$box-shadow-60: 0 4px 8px 0 rgba(48,49,51,0.10);
$box-shadow-80: 0 8px 16px 0 rgba(48,49,51,0.10);
$box-shadow-100: 0 16px 24px 0 rgba(48,49,51,0.10);

$box-shadow-custom-checkbox: inset 0 1px 2px 0 rgba(150, 150, 150, 0.5);

//Overlays
$overlay-black-60: rgba(0, 0, 0, 0.6);
$overlay-white-90: rgba(255, 255, 255, 0.9);

// Fonts
$client-font: 'SofiaPro', sans-serif;
$client-font-alt: $client-font;
$font-icons: FontAwesome;
$client-font-alt-letter-spacing: normal;

// Sizes
$font-size-base: 1rem;
$font-size-base-custom: 12px;
$font-size-base-alt: 14px;

$headings-line-height: 1.1;

//Weights
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-bold:            700;
$font-weight-bolder:          900;

// Breakpoints
$container-fluid-max-width: 1440px;

// Bootstrap Overrides
$font-family-base: $client-font;
$body-color: $dark-grey;

$headings-font-family: $client-font-alt;
$headings-font-weight: $font-weight-bold;

$border-radius: 1px;
$border-radius-lg: 0;
$border-radius-sm: 0;

$input-btn-padding-x: 30px;
$input-btn-padding-y: .6rem;
$input-btn-padding-y-lg: .8rem;

$input-padding-x: 15px;

$btn-font-weight: $font-weight-bold;
$input-color: $black;
$input-border-color: #DEDEDE;

$link-color: $green;
$link-hover-color: $link-color;

// Custom Naturitas Variables
$season: (
	color: $blue-medium,
	color-dark: $blue-dark,
	promo-top-section-background-image: '../images/cms_pages/promo-top-section-winter.jpg',
	app-home-text-color: $white,
);

$custom-switch-height: 1em;
$custom-switch-width: 1.875em;
$custom-switch-margin-inner: 2px;
$custom-switch-color: $light-grey;
$custom-switch-color-inner: $white;
$custom-switch-color-success: $green;

$custom-scrollbar-width: 2px;
$custom-scrollbar-thumb-color: $dark-grey;
$custom-scrollbar-track-color: $light-grey;
$line-height-base:            1.4;
$line-height-small:           1.35;
$line-height-smaller:         1.15;

$product-table-rows-border: 1px solid #ededed;
$product-table-cell-padding-x: 10px;
$product-table-cell-padding-y: 10px;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px
);

$input-height: 35px;
$custom-select-border-color: $green;
$custom-select-border-radius: $border-radius;
$input-search-radius: 3px;
$z-index: (
	checkout-adyen-checkbox-label: 0,
	product-view-product-label-promo: 1,
	slick-arrow: 1,
	slick-dots: 1,
	search-autocomplete: 1,
	listings-nosto-featured-arrow: 1,
	app-home-image: 1,
	reviews-home-arrow: 1,
	brands-home-arrow: 1,
	checkout-adyen-checkbox: 1,
	checkout-adyen-loader-separator-label: 1,
	menu-banner: 1,
	product-seal-tooltip: 1,
	listings-filters: 1,
	checkout-carriers-popup-message: 1,
	cart-page-messages-mobile: 2,
	listings-filters-mobile: 2,
	dark-layer-below-page-header: 2,
	page-header: 2,
	page-header-mobile: 1,
	checkout-adyen-dropdown-list: 2,
	contact-details: 2,
	listings-filter-content-open-mobile: 2,
	app-home-text: 2,
	page-messages: 2,
	dark-layer: 3,
	app-modal: 4,
	listings-filter-fake-checkbox: 5,
	cookie-alert: 5,
	toggle-password: 5,
	offers-landing-tabs-sticky: 5,
	mfp-popups-bg: 6,
	mfp-popups-content: 7,
	listings-filter-dropdown-desktop: 10,
	checkout-submit-place-order-mobile: 1070,
);
$dark-layer-background-color: rgba(0,0,0,.55);

$grid-column-max-width: 89px;
$grid-column-gap: 10px;

$product-media-nav-width: 45px;
$product-media-nav-gap: 10px;

$qty-select-hover-background: #cef4e9;

$product-card-padding: 10px;
$product-card-price-margin-bottom: 6px;
$brand-landing-mobile-image-height: 83px;

$mobile-menu-category-img-width: 55px;
$mobile-menu-category-img-height: 55px;
$mobile-menu-category-img-margin-right: 10px;

$message-close-icon-width: 20px;
$message-close-icon-margin-x: 5px;