.cms-home .page-main .column.main .benefits-home-section {
      background-color: #fafafa;
      position: relative;
      padding: 30px 0; }
      .cms-home .page-main .column.main .benefits-home-section .container .benefits-home-holder {
        display: flex;
        flex-flow: wrap;
        position: relative;
        align-items: center;
        justify-content: space-between; }
        .cms-home .page-main .column.main .benefits-home-section .container .benefits-home-holder .benefit-item {
          padding: 10px 5px; }
          .cms-home .page-main .column.main .benefits-home-section .container .benefits-home-holder .benefit-item [class*="icon"] {
            display: block;
            text-align: center;
            padding: 5px 0;
            font-size: 35px;
            color: #87b0c9;
            width: 100%;
            margin: auto;
            height: 45px; }
          .cms-home .page-main .column.main .benefits-home-section .container .benefits-home-holder .benefit-item .benefit-text {
            text-align: center;
            color: #202020;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.35; }
            .cms-home .page-main .column.main .benefits-home-section .container .benefits-home-holder .benefit-item .benefit-text p {
              font-weight: 400; }