.reviews-home-section {
  background-color: #fafafa;
  position: relative;
  padding: 30px 0; }
  .reviews-home-section .container h2 {
    text-align: center;
    margin-bottom: 10px; }
  .reviews-home-section .container .reviews-home-holder {
    display: flex;
    flex-flow: wrap;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: space-between; }
    .reviews-home-section .container .reviews-home-holder .general-average {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;
      color: #202020;
      font-size: 25px; }
      @media (max-width: 767.98px) {
        .reviews-home-section .container .reviews-home-holder .general-average {
          font-size: 23px; } }
      .reviews-home-section .container .reviews-home-holder .general-average .average-number {
        font-weight: 700;
        font-size: 22px; }
        @media (max-width: 767.98px) {
          .reviews-home-section .container .reviews-home-holder .general-average .average-number {
            font-size: 21px; } }
      .reviews-home-section .container .reviews-home-holder .general-average .general-average__text {
        font-size: 1rem;
        line-height: 1.35;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px; }
        @media (max-width: 767.98px) {
          .reviews-home-section .container .reviews-home-holder .general-average .general-average__text {
            font-size: 14px; } }
    .reviews-home-section .container .reviews-home-holder .rating-stars {
      width: 5.45em;
      height: 1em;
      background-repeat: no-repeat;
      background-size: 1em 1em;
      background-image: url("../images/icons/ico-star-empty.svg"), url("../images/icons/ico-star-empty.svg"), url("../images/icons/ico-star-empty.svg"), url("../images/icons/ico-star-empty.svg"), url("../images/icons/ico-star-empty.svg");
      background-position: 0, 1.1em, 2.2em, 3.3em, 4.4em;
      display: inline-table;
      margin-right: 10px; }
      .reviews-home-section .container .reviews-home-holder .rating-stars > * {
        height: 1em;
        background-repeat: no-repeat;
        background-size: 1em 1em;
        background-image: url("../images/icons/ico-star-full.svg"), url("../images/icons/ico-star-full.svg"), url("../images/icons/ico-star-full.svg"), url("../images/icons/ico-star-full.svg"), url("../images/icons/ico-star-full.svg");
        background-position: 0, 1.1em, 2.2em, 3.3em, 4.4em; }
      .reviews-home-section .container .reviews-home-holder .rating-stars .starfilled {
        width: 90%; }
    .reviews-home-section .container .reviews-home-holder .slick-reviews {
      width: 100%; }
      @media (max-width: 1199.98px) {
        .reviews-home-section .container .reviews-home-holder .slick-reviews {
          background: #FFFFFF; } }
      .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .slick-list {
        max-width: 95%;
        margin: auto; }
      .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .slick-track .slick-slide {
        padding: 0 8px; }
      .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .review-card {
        background: #FFFFFF;
        width: 33.33%;
        padding: 20px 10px;
        float: left;
        min-height: 160px;
        outline: none; }
        @media (max-width: 767.98px) {
          .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .review-card {
            width: 100%;
            margin: 0;
            min-height: auto;
            padding: 20px; } }
        .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .review-card .rating-stars {
          width: 5.45em;
          height: 1em;
          background-repeat: no-repeat;
          background-size: 1em 1em;
          background-image: url("../images/icons/ico-star-empty.svg"), url("../images/icons/ico-star-empty.svg"), url("../images/icons/ico-star-empty.svg"), url("../images/icons/ico-star-empty.svg"), url("../images/icons/ico-star-empty.svg");
          background-position: 0, 1.1em, 2.2em, 3.3em, 4.4em;
          display: inline-table; }
          .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .review-card .rating-stars > * {
            height: 1em;
            background-repeat: no-repeat;
            background-size: 1em 1em;
            background-image: url("../images/icons/ico-star-full.svg"), url("../images/icons/ico-star-full.svg"), url("../images/icons/ico-star-full.svg"), url("../images/icons/ico-star-full.svg"), url("../images/icons/ico-star-full.svg");
            background-position: 0, 1.1em, 2.2em, 3.3em, 4.4em; }
          .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .review-card .rating-stars .starfilled {
            width: 90%; }
        .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .review-card span {
          color: #202020;
          display: block; }
        .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .review-card .review-text {
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 15px;
          margin-top: 15px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 4.2em; }
        .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .review-card .review-user,
        .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .review-card .review-date {
          font-size: 14px;
          font-weight: 700; }
      .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .slick-arrow {
        position: absolute;
        top: 42%;
        z-index: 1;
        -webkit-appearance: none;
        background: none;
        border: none;
        padding: 5px;
        outline: none;
        color: #202020;
        font-size: 22px;
        font-weight: 700; }
        .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .slick-arrow.slick-prev {
          left: 0; }
        .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .slick-arrow.slick-next {
          right: 0; }
        .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .slick-arrow.slick-disabled {
          color: #ADADA9;
          transition: all 0.3s;
          cursor: default; }
        @media (max-width: 767.98px) {
          .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .slick-arrow {
            color: #47BD9B; } }
      .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .slick-dots {
        text-align: center;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block; }
        .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .slick-dots li {
          display: none; }
          .reviews-home-section .container .reviews-home-holder .slick-reviews .slideset-reviews .slick-dots li button {
            display: none; }
    .reviews-home-section .container .reviews-home-holder .trusted-shops {
      margin: 5px auto;
      padding: 10px; }
      .reviews-home-section .container .reviews-home-holder .trusted-shops .icon-circle_check {
        color: #47BD9B;
        font-size: 14px;
        vertical-align: text-bottom; }
      .reviews-home-section .container .reviews-home-holder .trusted-shops .trusted-text {
        font-size: 13px;
        font-weight: 500;
        color: #202020; }
      .reviews-home-section .container .reviews-home-holder .trusted-shops a .trusted-image {
        background-image: url("../images/home/trusted.png");
        width: 80px;
        height: 33px;
        display: inline-block;
        background-size: contain; }