.block-account-sidebar, .minicart-side-content {
  transition: right 0.3s ease-in-out;
  top: 0;
  width: 375px;
  position: fixed;
  height: 100vh;
  z-index: 5;
  right: -100%;
  background-color: $gray-pale;
  padding: 15px 10px;
  @include media-breakpoint-down(sm) {
      width: 90%;
      height: 100%;
  }
  &.account-open {
      right: 0;
  }
  .block-account-sidebar-inner {
    .closer {
        position: absolute;
        right: 10px;
        top: 12px;
        font-size: 18px;
        color: $black;
        cursor: pointer;
    }
    .box-wellcome {
        font-weight: $font-weight-bold;
        color: $black;
        line-height: 1.2;
        p {
          font-size: 18px;
        }
    }
    .sibebar-account-nav {
      .nav-item {
        background: $white;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        color: $black;
        &.title {
          color: $green;
          font-size: 15px;
          font-weight: 600;
        }
        &.delimiter {
          background: transparent;
          padding: 5px;
        }
        a {
          color: inherit;
        }
        .module-icon {
          margin-right: 5px;
          font-size: $font-size-base;
        }
        .count {
          font-size: 13px;
          color: $grey;
          float: right;
          margin-right: 10px;
        }
      }
      .action.logout {
        margin-top: 40px;
        text-align: center;
        .btn {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
body.overlay-noscroll {
  overflow: hidden;
  .page-wrapper {
    &:after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      z-index: 4;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(97,97,97, 0.72);        
    }
  }
}
.header__links {
  .ui-dialog {
    display: none !important;
  }
}