.modals-wrapper {
  .modal-popup.add-to-cart-popup {
    .modal-inner-wrap {
      min-width: 450px;
      max-width: 450px;
      border-radius: 2px;
      @include media-breakpoint-down(md) {
        min-width: 90%;
        //max-width: 90%;
      }
      .modal-header {
        display: none;
      }
      .modal-content {
        padding: 50px 20px 10px;
        border-radius: 2px;
        > div {
          height: auto;
        }
        .title.success {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          padding: 15px;
          background: $green;
          color: $white;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          height: 40px;
          line-height: 0px;
          .icon {
            margin-right: 5px;
            color: #b7ffef;
          }
        }
        .product-added {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          position: relative;

          + .product-added {
            margin-top: 5px;
          }

          .product_image  {
            margin-right: 10px;
            width: 72px;
            height: 72px;
            picture{
              display: flex;
            }
            @include media-breakpoint-down(md) {
              width: 52px;
              height: 52px;
            }
            img {
              width: inherit;
              height: inherit;
              max-width: 100%;
            }
            .product-item-labels {
              display: none;
            }
          }
          .product_brand {
            color: $dark-grey;
            font-size: 12px;
            line-height: 17px;
            position: absolute;
            left: 82px;
            top: 10px;
            @include media-breakpoint-down(md) {
              left: 62px;
            }
          }
          .product_name {
            max-width: 50%;
            color: $black;
            font-size: 14px;
            line-height: 19px;
            margin-right: 10px;
            margin-top: 15px;
            max-width: 60%;
            @include line-clamp($lines: 2);

            @include media-breakpoint-down(md) {
              margin-top: 25px;
              padding-right: 15px;
            }
          }
          .product_price {
            color: $black;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            order: 3;
            margin-right: 0;
            position: absolute;
            right: 0;
          }
        }
      }
      .modal-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem;
        padding: 1rem 0;
        @include media-breakpoint-down(md) {
            justify-content: space-around;
        }
        .btn {
          font-size: 1rem;
          cursor:pointer;
          color: $white;
          background-color: $green;
          border-color: $green;
          padding: .5rem 1rem;
          flex-basis: 50%;

          @include media-breakpoint-down(md) {
            font-size: 13px;
          }

          &:first-child {
            color: $green;
            background-color: $white;
            border-color: $green;
            font-weight: normal;
            &:hover {
              border-color: $green-dark;
              color: $green-dark;
            }
          }
          &:last-child {
            color: $white;
            background-color:$green;
            border-color: $green;
            font-weight: bold;
            &:hover {
              background-color:$green-dark;
              border-color: $green-dark;
            }
          }
        }
      }
    }
  }
}
