body.is-app {
  header {
    display: none;
  }

  footer {
    display: none;
  }

  .cookie-alert {
    display:none !important;
  }

  .btn-primary.nosto-btn {
    display: none !important;
  }

  .products-grid button.tocart {
    display:none !important;
  }

  .racoon-list-item .app-addtocart {
    display: block !important;
  }

  .racoon-btn {
    display:none !important;
  }

  .modal-popup {
    display: none !important;
  }

  .amgdprcookie-modal-container {
    display: none !important;
  }

  .modals-overlay {
    display: none !important;
  }

  .app-modal {
    display: none;
  }
}