.cms-page-view {
	.breadcrumbs {
		display: block;
	}

	.page-main {
		.columns {
			.column.main {
				.content {
					.brands-filters {
						.ambrands-search-wrapper {
							margin: 20px auto;
							float: none;

							@include media-breakpoint-up(xl) {
								width: 50%;
							}

							.icon {
								color: $green;
								position: absolute;
								width: 24px;
								font-size: 1.5rem;
								top: 50%;
								transform: translateY(-50%);
								left: 12px;
							}

							.ambrands-search-input {
								width: 100%;
								border-radius: $input-search-radius;
								border: solid 1px $light-grey;
								background-color: $white;
								padding: 10px 20px 10px 40px;
								outline: none;
								transition: all .2s ease;
								color: $black;

								&:focus {
									border: solid 1px $black;
								}
							}
						}

						.letters {
							max-width: 915px;
							justify-content: center;
							align-items: center;
							margin: auto;
							overflow: auto;
							white-space: nowrap;
							display: flex;
							@include media-breakpoint-down(lg) {
								width: 85%;
							}
							@include media-breakpoint-down(md) {
								width: 100%;
							}

							.letters-box {
								@include media-breakpoint-down(sm) {
									overflow-y: hidden;
									&:after {
										content: '';
										width: 18%;
										height: 46px;
										position: absolute;
										right: 0;
										background: rgba(249, 249, 249, 0);
										background: linear-gradient(to right, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 0.69) 46%, #f9f9f9 67%);
									}
								}

								.letters-box-inner {
									position: relative;
									padding-right: 50px;
									display: inline-flex;
									justify-content: center;

									@include media-breakpoint-up(xl) {
										flex-wrap: wrap;
									}
								}

								.letter {
									font-weight: $font-weight-light;
									background-color: $white;
									border-radius: 50%;
									padding: 6px 12px;
									font-size: $h4-font-size;
									line-height: 1.5;
									text-align: center;
									color: $grey;
									width: 46px;
									height: 46px;
									transition: all .5s ease;

									&:hover {
										background-color: $green;
										color: $white;
										border: 1px solid $green;
									}

									&.active:not(:hover) {
										color: $green;
										border-color: currentColor;
									}
								}
							}
						}
					}

					.wrapper-filter-categories {
						margin: 20px 10px 0 10px;
						overflow-x: auto;
						white-space: nowrap;
						display: flex;
						border-bottom: 1px solid $grey;

						@include media-breakpoint-down(sm) {
							margin: 0 10px 0 10px;
							&:after {
								content: '';
								width: 18%;
								height: 30px;
								position: absolute;
								right: 0;
								background: rgba(249, 249, 249, 0);
								background: linear-gradient(to right, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 0.69) 46%, #f9f9f9 67%);
							}
						}

						.categories-list {
							margin: 0 auto;
							display: block;
							justify-content: center;
							padding: 0;
							display: flex;

							@include media-breakpoint-down(sm) {
								position: relative;
								padding-right: 50px;
							}

							li {
								border-bottom: 3px solid transparent;

								&:hover {
									transition: all .3s ease-in-out;
									opacity: .6;
									text-decoration: none;
								}

								&.active {
									font-weight: $font-weight-bold;
									border-color: $green;
								}

								&:not(:first-child) {
									margin-left: 30px;
								}

								a {
									color: $black;
									display: block;
									padding-bottom: 15px;
								}
							}
						}
					}

					.brand-images {
						display: block;

						.brands-letter {
							width: 100%;
							border-bottom: 1px solid $grey;
							padding: 25px 0 25px;
							margin-bottom: 0;

							.letter {
								width: 10%;
								float: left;
								color: $green;
								font-size: 60px;
								letter-spacing: 0.86px;
								line-height: 65px;
								border-bottom: none;
								@include media-breakpoint-down(sm) {
									width: 15%;
								}

								.title {
									background: none;
									padding: 0;
								}
							}

							.bare-list {
								.brand-item {
									$margin-x: 5px;
									$row-items: 4;
									margin: 0 $margin-x 10px;
									max-width: initial;
									min-width: inherit;
									min-height: inherit;
									width: calc(100% / #{$row-items} - #{$margin-x} - #{$margin-x});
									text-align: left;

									@include media-breakpoint-down(sm) {
										$row-items: 2;
										width: calc(100% / #{$row-items} - #{$margin-x} - #{$margin-x});
									}

									.item {
										color: $black;

										&:hover {
											color: $green;
										}

										.am-image-wrapper {
											display: none;
										}

										.label {
											&:before {
												display: none;
											}
										}

										.count {
											display: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.brands-no-results {
	font-size: 18px;
	text-align: center;
	color: $black;
	margin-top: 35px;
}