.btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: $font-weight-medium;
  height: 44px;
  line-height: 20px;
  &-primary {
    color: $white;
    background-color: $green;
    border-color: $green;
    border-radius: $border-radius;
    &:hover:not([disabled]) {
      background-color: $green-dark;
      border-color: $green-dark;
    }
    &:disabled:not(.waiting),
    &.disabled:not(.waiting) {
      background-color: $grey-bottom;
      border-color: $grey-bottom;
    }
    &.tocart {
      width: 100%;
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      height: 35px;
      line-height: $font-size-base - .1rem;
    }
    &:focus {
      box-shadow: none;
    }
  }
  &-secondary {
    color: $green;
    background-color: $white;
    border: 1.5px solid $green;
    border-radius: $border-radius;
    &:hover:not([disabled]) {
      background-color: $white;
      color: $green-dark;
      border: 1.5px solid $green-dark;
    }
    &:disabled, &.disabled {
      background-color: $white;
      border: 1.5px solid $grey-bottom;
      color: $grey-bottom;
    }
    &:focus {
      box-shadow: none;
    }

    @at-root #{selector-append('.btn', &)} {
      &:not(:disabled):not(.disabled) {
        &:active { // overwrite bootstrap default styles
          color: $green-dark;
          background-color: $white;
          border-color: currentColor;
        }
      }
    }
  }
  &-see-more {
    cursor: pointer;
    height: 35px;
    font-size: 15px;
    font-weight: $font-weight-medium;
    color: $black-two;
    background-color: $white;
    border: 1.5px solid $green;
    border-radius: $border-radius;
    &:hover:not([disabled]) {
      background-color: $white;
      color: $black-two;
      border: 1.5px solid $green-dark;
    }

    &:focus {
      box-shadow: none;
    }
  }
  &-link-one, &-link-two, &-link-three {
    cursor: pointer;
    font-size: $font-size-base-custom;
    font-weight: $font-weight-normal;
    letter-spacing: 0.17px;
  }
  &-link-one {
    color: $dark-grey;
    &:hover:not([disabled]) {
      color: $green;
    }
  }
  &-link-two {
    color: $black;
    text-decoration: underline;
    &:hover:not([disabled]) {
      color: $green;
    }
  }
  &-link-three {
    color: $green;
    &:hover:not([disabled]) {
      text-decoration: underline;
    }
  }
  &-sm {
    padding: 6px 10px;
  }
  &-lg {
    font-size: $font-size-base;
  }

  &.waiting {
    opacity: 1;

    > *  {
      display: none !important;
    }

    &:before {
      display: inline-block;
      content: '' !important; // Removes font icons
      color: $white;
      @include spinner($size: 1.5em);
    }
  }
}

.close {
  opacity: 1;
}

button:focus {
  outline: none;
}

.btn-outline-pink {
  @include button-outline-variant($pink, $white);
}

.btn-pink {
  color: $white;
  background-color: $pink;
  border-color: $pink;
  &:hover {
    background-color: $pink-light;
    border-color: $pink-light;
    color: $white;
  }
}

.btn-yellow {
  color: $white;
  background-color: $yellow;
  border-color: $yellow;
  &:hover {
    background-color: $yellow-dark;
    border-color: $yellow-dark;
    color: $white;
  }
}

.btn-blue {
  color: $white;
  background-color: $blue-deep;
  border-color: $blue-deep;
  &:hover {
    background-color: $blue-dark;
    border-color: $blue-dark;
    color: $white;
  }
}