.checkout-benefits-bottom {
	@include unstyle-block-divs();
}

.checkout-benefits-bottom__content {}

.checkout-benefits-bottom__items {
	display: flex;
	text-align: center;
	font-size: 10px;
	color: $black;

	@include media-breakpoint-up(xl) {
		font-size: 11px;
	}
}

.checkout-benefits-bottom__item {
	&:first-child {
		margin-right: 30px;
		@include media-breakpoint-down(sm) {
			margin-right: 12px;
		}
	}
	& + & {
		margin-left: 5px;
	}

	> .icon {
		color: $green;
		height: 22px;
		width: auto;
		max-width: 100%;
	}
}

.checkout-benefits-bottom__item-title {
	display: block;
	margin-top: 5px;
}

.checkout-benefits-bottom__cards {
	display: flex;
	justify-content: center;
	margin-top: 5px;
	flex-wrap: wrap;
}

.checkout-benefits-bottom__card {
	border: 1px solid $light-grey;
	padding: 0 5px 4px;
	background-color: $white;
	margin-bottom: 4px;
	margin-right: 4px;

	@include media-breakpoint-down(lg) {
		padding-bottom: 2px;
	}

	.icon {
		height: 15px;
		width: 18px;
	}
}