.block-collapsible-nav {
  padding-top: 0px;
  padding-bottom: 5px;
  margin-top: 0px;
  .title {
    display: none;
    padding: 0 10px;
  }
  .content {
    .nav {
      display: block;
      .item {
        padding: 11px 10px;
        font-size: 12px;
        &.current {
          background: rgba(163, 163, 163, 0.15);
          strong {
            font-weight: normal;
          }
        }
        &:after {
          content: "\f054";
          font-family: $font-icons;
          color: $black;
          float: right;
        }
      }
    }
  }
}


@include media-breakpoint-down(md) {
  .block-collapsible-nav {
    .title {
      display: block;
    }
    .content {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}