.contact-details {
  @include unstyle-block-divs();
  text-align: center;
  background: $white;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.27);
  font-size: 13px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: map_get($z-index, contact-details);
  border-top: 1px solid $light-grey;
  padding-top: 10px;
  color: $black;

  &:not(.active) {
    display: none;
  }

  a {
    color: inherit;
  }
}

.contact-details__head {
  position: relative;
}

.contact-details__close {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;

  .icon {
    height: 1.75em;
    width: 1.75em;
  }
}

.contact-details__h1 {
  font-size: 18px;
  font-weight: bold;
}

.contact-details__body {
  margin-top: 15px;

  .icon {
    color: $green;
    display: block;
    margin: 0 auto 5px;
    width: 2em;
    height: 2em;
  }
}

.contact-details__foot {
  font-size: 11px;
  border-top: 1px solid $light-grey;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  p{
    font-size: 11px;
    line-height: 14px;
  }
}