.customer-support-details {}

.customer-support-details__items {
	list-style-type: none;
	margin: 0;
	padding: 0;

	@include media-breakpoint-down(lg) {
		margin-top: 20px;
	}

	@include media-breakpoint-up(xl) {
		display: flex;
		justify-content: center;
	}
}

.customer-support-details__item {
	$items: 3;
	$gutter: 15px;
	background-color: $white;
	padding: 15px;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include media-breakpoint-down(lg) {
		max-width: 190px;
		margin-left: auto;
		margin-right: auto;
	}

	@include media-breakpoint-up(lg) {
		$itemWidth: 100% / $items;
		$totalGutter: $gutter * ($items - 1);
		$itemGutter: $totalGutter / $items;
		width: calc(#{$itemWidth} - #{$itemGutter});
	}

	&:not(:nth-child(#{$items}n+1)) {
		@include media-breakpoint-up(lg) {
			margin-left: $gutter;
		}
	}

	.icon {
		color: $green;
		font-size: 20px;
		margin-bottom: 5px;
	}

	a {
		font-weight: 500;
		display: block;
		color: $black;
		margin-top: auto;
		margin-bottom: auto;
	}
}