.customer-reviews {
  display: grid;
  @include grid-align-items(start);

  @include media-breakpoint-down(lg) {
    grid-template: 'customer-reviews-summary' 'customer-reviews-items' 'customer-reviews-pagination';
  }

  @include media-breakpoint-up(xl) {
    grid-column-gap: 30px;
    grid-template: 'customer-reviews-summary customer-reviews-items' '.                        customer-reviews-pagination'
			/290px 1fr;
  }
}

.customer-reviews-summary {
  grid-area: customer-reviews-summary;
  background-color: $white;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  color: $black;

  @include media-breakpoint-down(lg) {
    margin-top: 20px;
  }
}

.customer-reviews-summary-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.customer-reviews-summary-rating {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-reviews-filter-all {
  cursor: pointer;
  font-weight: bold;
}

.customer-reviews-summary-stars {
  margin-left: 10px;
  font-size: 22px;
  @include rating-stars;
}

.customer-reviews-filter {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ededed;
  padding-top: 15px;
  padding-bottom: 15px;
  display: table;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.customer-reviews-filter-item {
  display: table-row;

  &.inactive {
    color: #c0c0c0;
  }

  &:not(.inactive) {
    .customer-reviews-filter-item-action {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.customer-reviews-filter-item-action {
  display: table-cell;
  text-align: left;
  white-space: nowrap;
}

.customer-reviews-filter-item-progress {
  display: table-cell;
  width: 100%;
}

.customer-reviews-filter-item-progress-full {
  background-color: #ededed;
  border-radius: 4px;
  height: 8px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;

  > * {
    height: 100%;
    background-color: #f5bf2b;
    border-radius: inherit;
  }
}

.customer-reviews-filter-item-subtotal {
  display: table-cell;
}

.customer-reviews-summary-footer {
  font-size: 12px;
  border-top: 1px solid #ededed;
  padding-top: 10px;
  @include unstyle-block-divs();

  .reviews-verified-icon {
    color: $green;
    margin-right: 5px;
  }

  .reviews-verified-logo {
    margin-top: 10px;
    color: #9e9e9e;
    fill: currentColor;
    height: 38px;
    width: auto;
  }
}

.customer-reviews-items {
  grid-area: customer-reviews-items;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.customer-reviews-item {
  background-color: $white;
  padding: 15px;
  font-size: 13px;

  &.inactive {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    margin-top: 10px;
  }

  @include media-breakpoint-up(xl) {
    &:not(.inactive) {
      & ~ & {
        margin-top: 10px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &:not(.inactive):first-child {
      margin-top: 0;
    }
  }

  &.inactive {
    display: none;
  }

  .customer-reviews-item-text-original {
    display: none;
  }

  .has-original-review {
    .customer-reviews-item-origin-site-text {
      font-size: 14px;
      color: $dark-grey;
      margin-bottom: 0;
    }

    .customer-reviews-item-origin-site-button {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.show-original {
    .customer-reviews-item-text {
      display: none;
    }

    .customer-reviews-item-text-original {
      display: block;
    }
  }
}

.customer-reviews-item-stars {
  @include rating-stars(.25em);
}

.customer-reviews-item-meta {
  margin-top: 10px;
  margin-bottom: 5px;
}

.customer-reviews-item-verified {
  font-size: 14px;
  font-weight: 500;
  line-height: 0.93;
  color: $green;
  display: flex;

  .icon {
    margin-left: 5px;
  }
}

.customer-reviews-pagination {
  grid-area: customer-reviews-pagination;
  margin-top: 30px;
}

.customer-reviews {
  .review-toolbar {
    display: none
  }

  #load-more-reviews {
    text-align: center;
    margin: 10px 30px 30px 30px;
    padding-top: 30px;

    #load-more-reviews-link {
      background-color: $white;
      border: 1px solid $green;
      color: $black;
      font-size: 14px;
      font-weight: 600;
      padding: 10px 30px;
      border-radius: $border-radius;
      text-transform: uppercase;

      &:hover {
        border-color: $green-dark;
        text-decoration: none;
      }
    }

    em {
      font-weight: $font-weight-bold;
      font-size: 15px;
    }
  }

  #load-more-loader {
    text-align: center;
    border-radius: $border-radius;
    max-width: 16%;
    margin: auto;
    display: none;

    .lds-ring {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    }

    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 51px;
      height: 51px;
      margin: 6px;
      border: 6px solid $green;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $green transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }

    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}