.module-filter {
  margin-top: 5px;
  font-size: 12px;
  .filter {
    &-title {
      display: none;
    }
    &-content {
      .block {
        &-subtitle {
          display: none;
        }
      }
    }
    &-current {
      &-subtitle {
        display: block !important;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        text-transform: uppercase;
        word-break: break-all;
        display: block;
        padding: 8px 15px 4px;
        color: $white;
        background-color: $black;
        font-family: $client-font-alt;
        letter-spacing: $client-font-alt-letter-spacing;
        font-weight: $font-weight-bold;
        border-radius: $border-radius;
      }
      .items {
        padding: 12px 15px 0;
        .item {
          padding-left: 17px;
          position: relative;
          z-index: 1;
          margin-bottom: 10px;
          .filter {
            &-label {
              font-weight: bold;
              &:after {
                content: ':';
              }
            }
          }
          .action {
            left: -2px;
            position: absolute;
            top: 4px;
            &:before {
              content: '';
              background-image: url('../images/icons/ico-close.svg');
              width: 12px;
              height: 12px;
              display: block;
              background-size: cover;
            }
            span {
              display: none;
            }
            &.remove {
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    &-actions {
      margin-bottom: 25px;
      padding: 0 15px;
      font-size: 10px;
      font-weight: $font-weight-bold;
      font-family: $client-font-alt;
      letter-spacing: $client-font-alt-letter-spacing;
    }
    &-options {
      &-item {
        padding-bottom: 30px;
        &.active {
          .filter-options-title {
            &:before {
              content: '-';
            }
          }
        }
      }
      &-title {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        text-transform: uppercase;
        word-break: break-all;
        display: block;
        padding: 8px 0 4px;
        font-family: $client-font-alt;
        letter-spacing: $client-font-alt-letter-spacing;
        font-weight: $font-weight-bold;
        outline: none;
        &:before {
          content: '+';
          position: absolute;
          right: 17px;
          top: 5px;
          font-size: 16px;
        }
      }
      &-content {
        padding: 10px 0 0;
        .items {
          .item {
            margin-bottom: 15px;
            a {
              width: 100%;
              display: block;
              position: relative;
              padding-left: 25px;
              padding-right: 20px;
              padding-top: 1px;
              //color: $dark-grey;
              input {
                display: none;
              }
              &:before {
                content: "";
                width: 16px;
                height: 16px;
                position: absolute;
                border: 1px solid $dark-grey;
                border-radius: $border-radius;
                background-color: $white;
                left: 0;
                top: 3px;
              }
              &:after {
                content: "";
                width: 16px;
                height: 16px;
                position: absolute;
                left: 0;
                top: 3px;
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: 14px;
              }
              &:hover {
                color: $black;
                &:before {
                  border-color: $black;
                }
              }
              &.am_shopby_link_selected {
                color: $black;
                font-weight: $font-weight-normal;
                &:before {
                  border-color: $black;
                  background-color: $black;
                }
                &:after {
                  background-image: url(../images/icons/ico-check.svg);
                }
              }
            }
            .count {
              display: none;
              &:before {
                content: '(';
              }
              &:after {
                content: ')';
              }
              .filter-count-label {
                @extend .sr-only;
              }
            }
          }
          &.am-filter-items-attr_model, &.am-filter-items-attr_hours {
            .item {
              a {
                padding-left: 25px;
              }
            }
          }
          &.attr_category_ids {
            .item {
              a {
                &:before, &:after {
                  content: none;
                }
                &:hover {
                  text-decoration: underline;
                }
                &.am_shopby_link_selected {
                  color: $secondary;
                  font-weight: $font-weight-bold;
                }
              }
            }
          }
          &.am-labels-folding {
            .item {
              position: relative;
              .am-collapse-icon {
                left: 0;
                width: 15px;
                height: 16px;
                border-radius: 0;
                z-index: 999;
                cursor: pointer;
                text-align: center;
                padding-top: 4px;
                color: $grey;
                &:after {
                  content: '+';
                  border: none;
                  position: relative;
                  width: auto;
                  height: auto;
                  margin-top: 0;
                  top: 0;
                  left: 0;
                  font-size: 20px;
                  line-height: 10px;
                  transition: none;
                  transform: none;
                }
                &._active {
                  padding-top: 3px;
                  &:after {
                    content: '-';
                  }
                }
              }
            }
          }
        }
        .am-show-more {
          border: none;
          background: none;
          font-family: $client-font-alt;
          letter-spacing: $client-font-alt-letter-spacing;
          font-weight: $font-weight-bold;
          padding: 0;
          font-size: 10px;
          cursor: pointer;
          text-transform: uppercase;
        }
        .amshopby-slider-container {
          .am-slider {
            .ui-slider-handle {
              background: $primary;
            }
          }
          .amshopby-slider-display {
            margin-top: 5px;
          }
        }
      }
    }
  }
  ol {
    margin-bottom: 0;
  }
}

.am-show-button {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px !important;
  > .am-items {
    display: block;
    width: 50%;
  }
  > .am-button {
    background-color: $primary !important;
    border-radius: $border-radius !important;
    font-size: $font-size-base-custom !important;
    line-height: 1.5 !important;
    color: $black !important;
  }
}