.fotorama {
	&.fotorama-item {
		@include media-breakpoint-down(md) {
			height: 400px;
		}
		@include media-breakpoint-down(sm) {
			height: 100%;
		}
	}
	.fotorama__thumb-border {
		border-color: $green;
	}

	.fotorama__dot {
		width: 10px;
		height: 10px;
		border-color: $green;
	}

	.fotorama__active {
		.fotorama__dot {
			background-color: $green;
			border-color: transparent;
		}
	}

	.fotorama__loaded--img {
		cursor: pointer;

		&.fotorama__stage__frame {
			cursor: zoom-in;
			background: $white;
			@include media-breakpoint-down(md) {
				height: 58%;
			}
			@include media-breakpoint-down(sm) {
				height: 100%;
			}
		}
	}

	.fotorama__nav-wrap--vertical {
		.fotorama__nav__shaft {
			background: transparent;
		}
	}

	.fotorama__thumb {
		background: transparent;
	}

	.fotorama__thumb-border {
		background: transparent;
		border-width: 1px !important;
	}

	.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows {
		.fotorama__arr,
		.fotorama__fullscreen-icon {
			transform: none !important;
		}
	}

	.fotorama__fullscreen-icon {
		right: 0 !important;
		width: 25px;
		height: 25px;
		background: none;
		margin-top: 15px;
		margin-right: 15px;

		&:focus {
			&:after {
				box-shadow: none;
			}
		}

		svg {
			fill: $dark-grey;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
	}

	.fotorama__arr {
		top: 50%;
		bottom: auto;

		.fotorama__arr__arr {
			width: auto;
			height: auto;
			padding: 5px;
			background: $white;
			border-radius: 50%;
			box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
		}

		svg {
			width: 30px;
			height: 30px;
			fill: $green;
		}
	}

	.fotorama__arr--disabled {
		opacity: 1;

		svg {
			fill: $grey;
		}
	}

	.fotorama__arr--next {
		right: 0 !important;
	}

	&:not(.fotorama--fullscreen) {
		.fotorama__stage {
			@include media-breakpoint-up(xl) {
				margin-top: -21px;
			}
		}

		.fotorama__thumb-border {
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}

		.fotorama__nav--thumbs {
			@include media-breakpoint-down(lg) {
				height: auto !important;
				text-align: center;
				background: $white;
				padding-bottom: 15px;
			}
		}

		.fotorama__nav__frame--thumb {
			@include media-breakpoint-down(lg) {
				background: $white;
				border: 1px solid $green;
				width: 10px !important;
				height: 10px !important;
				overflow: hidden;
				border-radius: 50%;
			}

			&.fotorama__nav__frame {
				@include media-breakpoint-down(lg) {
					padding: 0;
				}
			}

			&.fotorama__active {
				@include media-breakpoint-down(lg) {
					background: $green;
				}
			}

			+ .fotorama__nav__frame--thumb {
				@include media-breakpoint-down(lg) {
					margin-left: 10px;
				}
			}

			img {
				@include media-breakpoint-down(lg) {
					display: none;
				}
			}
		}
	}

	&.fotorama--fullscreen {
		@include media-breakpoint-up(xl) {
			overflow: visible !important;
			top: 50% !important;
			bottom: auto !important;
			left: 50% !important;
			right: auto !important;
			transform: translate(-50%, -50%);
			max-width: 1000px;
			max-height: 673px;
		}

		.fotorama__stage {
			@include media-breakpoint-down(lg) {
				height: 100vh !important;
			}

			@include media-breakpoint-up(xl) {
				max-height: 673px;
				left: 0 !important;
			}
		}

		.fotorama__stage__shaft {
			@include media-breakpoint-up(xl) {
				max-width: 100% !important;
			}
		}

		.fotorama__nav-wrap--vertical {
			margin-top: 20px;
			margin-left: 20px;
		}

		.fotorama__zoom-in,
		.fotorama__zoom-out {
			display: none;
		}

		.fotorama__stage__frame {
			.fotorama__img--full {
				cursor: zoom-in;

				&.fotorama__img--zoommable {
					cursor: zoom-in;

					&.fotorama__img--maxZoomReached {
						cursor: zoom-out;

						&.is-dragging {
							cursor: all-scroll;
						}
					}
				}
			}
		}

		.fotorama__nav-wrap--vertical {
			.fotorama__nav--thumbs {
				height: 290px !important;
			}
		}

		.fotorama__nav-wrap {
			@include media-breakpoint-down(lg) {
				position: fixed;
				bottom: 20px;
				text-align: center;
			}
		}

		.fotorama__arr {
			@include media-breakpoint-down(lg) {
				display: block !important;
			}
		}
	}
}

body.fotorama__fullscreen {
	.fotorama {
		&.fotorama-item {
			@include media-breakpoint-down(md) {
				height: 100%;
			}
		}
	}
	.fotorama__loaded--img {
		&.fotorama__stage__frame {
			@include media-breakpoint-down(md) {
				height: 100%;
			}
		}
	}
}