.checkout-index-index {
  .checkout-container {
    .opc {
      &-wrapper {
        .welcome-message-lr {
          .login-register-customer-message {
            padding: 15px 26px;
            background-color: $white;
            display: flex;
            flex-wrap: wrap;
            color: $black;
            .module-icon {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              padding-right: 5px;
              .icon {
                color: $green;
                width: 21px;
                height: 21px;
              }
            }
            .welcome-user {
              font-size: 20px;
              font-weight: $font-weight-bold;
              line-height: 16.5px;
              padding-right: 5px;
            }
            .welcome-message-info {
              font-size: 15px;
              line-height: 16.5px;
              font-weight: $font-weight-normal;
            }
          }
        }
        .checkout-form-login-register {
          .forms-login-register {
            padding: 26px;
            background-color: $white;
            box-shadow: 0 1px 4px 0 $color-checkout-login-box-shadow;
            .tabs-login-register {
              display: flex;
              flex-wrap: wrap;
              .tab {
                display: flex;
                flex: 0 1 50%;
                justify-content: center;
                font-size: 20px;
                line-height: 38px;
                letter-spacing: 0;
                color: $dark-grey;
                border-bottom: 1px solid $light-grey;
                font-weight: $font-weight-normal;
                &:hover {
                  cursor: pointer;
                }
                &.active {
                  color: $black;
                  font-weight: $font-weight-bold;
                  border-bottom: 4px solid $green;
                }
                label {
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
            .form {
              .messages {
                padding: 0;
                position: inherit;
              }
              #error-message {
                background-color: $pink;
                padding: 5px 50px;
                color: $white;
                font-size: 12px;
                text-align: center;
                line-height: 17px;
                a {
                  color: $white;
                  text-decoration: underline;
                  font-weight: $font-weight-bold;
                }
              }
              .top-message {
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 14px;
                color: $black;
                padding: 7px 0;
              }
              .block {
                .fieldset {
                  margin-bottom: 20px;
                  .form-group {
                    margin-bottom: 10px;
                    label {
                      font-size: $font-size-base-alt;
                      line-height: 16px;
                      letter-spacing: 0;
                      color: $dark-grey;
                      left: 13px;
                      &.input-has-value {
                        font-size: 11px;
                        & + input {
                          padding-top: 1rem;
                          padding-bottom: .1rem;
                        }
                      }
                    }
                  }
                  .input-text {
                    border: 1px solid $light-grey;
                    border-radius: 2px;
                    width: 100%;
                    padding: 0 12px;
                    height: 45px;
                    font-size: 15px;
                    font-weight: $font-weight-normal;
                    &:focus {
                      border-color: $black;
                    }
                    &.mage-error {
                      border-color: $danger;
                    }
                  }
                  .field {
                    .custom-control-label {
                      padding-left: 25px;
                      -webkit-line-clamp: 2;
                      &:before {
                        left: 0;
                        width: 18px;
                        height: 18px;
                        background-color: $white;
                        border: 1px solid $light-grey;
                        border-radius: 2px;
                      }
                      a {
                        color: $black;
                        font-weight: $font-weight-bold;
                        font-size: 11px;
                        line-height: 16px;
                        letter-spacing: 0.12px;
                        text-decoration: underline;
                      }
                    }
                    .custom-control-input {
                      &:focus ~ .custom-control-label::before {
                        box-shadow: none;
                      }
                      &:checked ~ .custom-control-label::before {
                        background-color: $green;
                        background-image: url(../images/icons/ico-check-white.svg);
                        background-repeat: no-repeat;
                        background-size: 10px 11px;
                        border-color: $green;
                        background-position: 3px 3px;
                      }
                    }
                    &.newsletter,
                    &.legal-terms,
                    &.privacy-policy {
                      span {
                        font-size: 11px;
                        line-height: 15px;
                        letter-spacing: 0.12px;
                        color: $darker-grey;
                      }
                      .not-checked {
                        span,
                        a {
                          color: $pink;
                        }
                      }
                    }
                  }
                  #msp-recaptcha-checkout-inline-login-wrapper {
                    .g-recaptcha {
                      margin-top: 25px;
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: center;
                    }
                    .field {
                      height: 0;
                      overflow: hidden;
                    }
                  }
                }
                .login-account {
                  padding: 15px 0;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  span {
                    font-size: 14px;
                    letter-spacing: 0;
                  }
                  .message-login {
                    color: $black;
                    font-weight: $font-weight-medium;
                  }
                  .tab-login {
                    color: $green;
                    font-weight: $font-weight-bold;
                    padding-left: 3px;
                    &:hover {
                       cursor: pointer;
                    }
                  }
                }
                .login-register-legal-note {
                  font-stretch: normal;
                  font-size: 10px;
                  line-height: 1.4;
                  overflow-y: scroll;
                  height: 72px;
                  p {
                    font-size: 10px;
                  }
                }
                .forgot-password {
                  margin-bottom: 10px;
                  font-size: 13px;
                  color: $black;
                  letter-spacing: 0;
                  span {
                    cursor: pointer;
                    text-decoration: underline;
                  }
                }
                .actions-toolbar {
                  .action {
                    width: 100%;
                  }
                }
                .create-account {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-top: 25px;
                  color: $black;
                  font-size: 14px;
                  .message-create-account {
                    margin-right: 5px;
                  }
                  .tab-create-account {
                    color: $green;
                    font-weight: $font-weight-bold;
                    padding-left: 5px;
                    cursor: pointer;
                  }
                }
                .block-customer-social-login {
                  margin-top: 15px;
                  .sl-separator {
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    color: $black;
                    &:after {
                      content: '';
                      border-bottom: 1px solid $light-grey;
                      height: 1px;
                      width: 100%;
                      position: absolute;
                      top: 50%;
                    }
                    &-text {
                      font-size: 13px;
                      padding: 0 10px;
                      background-color: white;
                      z-index: 1;
                    }
                  }
                  .am-social-wrapper {
                    .am-social-login {
                      background-color: transparent;
                      .am-buttons {
                        padding: 10px 0 0 0;
                        justify-content: center;
                        width: 100%;
                        .am-button-wrapper {
                          display: flex;
                          justify-content: center;
                          flex: 0 1 33.3%;
                          max-width: 33.3%;
                          height: 71px;
                          padding: 0 10px;
                          margin-bottom: 15px;
                          &.-apple {
                            display:none;
                          }
                          &:nth-child(odd) {
                            padding-right: 10px;
                          }
                          &:nth-child(even) {
                            padding-left: 10px;
                          }
                          .am-sl-button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            background: white;
                            box-shadow: none;
                            width: 100%;
                            height: 100%;
                            border-radius: 1px;
                            border: 1px solid $grey;
                            padding: 10px;
                            &:hover {
                              border-color: $black;
                            }
                            .am-social-icon {
                              width: 25px;
                              height: 25px;
                              margin-bottom: 5px;
                            }
                            .am-sl-text {
                              display: flex;
                              flex-wrap: wrap;
                              color: $black-two;
                              font-size: 13px;
                              line-height: 16px;
                            }
                            &.-google {
                              .am-social-icon {
                                background-image: url(../images/icons/ico-google.svg);
                              }
                            }
                            &.-facebook {
                              .am-social-icon {
                                background-image: url(../images/icons/ico-fb-blue.svg);
                              }
                            }
                            &.-apple {
                              .am-social-icon {
                                background-image: url(../images/icons/ico-apple.svg);
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .forgot-password-wrapper {
    .modal-inner-wrap {
      min-width: inherit;
      max-width: 400px;
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 100%;
        margin: 0;
        max-width: initial;
      }
      .content {
        .close-button {
          position: absolute;
          top: 11px;
          right: 11px;
          width: 11px;
          height: 11px;
          background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMWwxMSAxMW0wLTExTDEgMTIiIHN0cm9rZT0iI0IyQjJCMiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjwvc3ZnPg==);
          background-size: contain;
          cursor: pointer;
        }
        &-title,
        &-info-text {
          display: flex;
          justify-content: center;
          color: $black;
          letter-spacing: 0;
        }
        &-title {
          padding: 15px 30px 10px;
          font-size: 18px;
          line-height: 38px;
          font-weight: $font-weight-bold;
          letter-spacing: 0;
        }
        .error-forgot-password {
          margin-bottom: 10px;
          background-color: $pink;
          font-size: 12px;
          line-height: 17px;
          color: $white;
          text-align: center;
          padding: 5px 50px;
        }
        &-info-text {
          padding: 0 30px 10px;
          font-size: 14px;
          line-height: 17px;
          font-weight: $font-weight-medium;
        }
        &-form-forgot-password {
          padding: 0 30px 34px;
          .fieldset {
            .form-group {
              margin-bottom: 16px;
            }
            .input-text {
              border: 1px solid $input-border-color;
              border-radius: 2px;
            }
          }
          .actions-toolbar {
            .btn {
              width: 100%;
            }
          }
          .back-to-login {
            padding-top: 20px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .message-back-to,
            .message-login {
              font-size: 14px;
              letter-spacing: 0;
            }
            .message-back-to {
              color: $black;
              font-weight: $font-weight-medium;
            }
            .message-login {
              color: $green;
              font-weight: $font-weight-bold;
              cursor: pointer;
            }
            span + span {
              padding-left: 5px;
            }
          }
        }
        &.reset-success {
          padding: 30px;
          .reset-success-message {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0;
            font-weight: $font-weight-medium;
            text-align: center;
            color: $black;
            .icon {
              fill: $green;
              width: 21px;
              height: 21px;
            }
            .top {
              font-size: 18px;
              line-height: 38px;
              font-weight: $font-weight-bold;
            }
            .medium {
              padding-bottom: 5px;
            }
            .bottom {
              padding-bottom: 18px;
            }
          }
          .btn {
            width: 100%;
          }
        }
      }
    }
    .modals-overlay {
      background: rgba(109, 109, 109, 0.72);
    }
  }
}