.am-login-popup#social-login-popup,
.am-login-popup#social-login-consent-popup {
  width: 400px;
  border-radius: 0;
  margin: 17vh auto 15vh;

  @include media-breakpoint-up(sm) {
    max-height: 93%;
    overflow: auto;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow: auto;
  }

  .actions-toolbar {
    margin: 0;
  }

  .am-social-wrapper {
    margin-bottom: 15px;
    @include media-breakpoint-down(sm) {
      padding: 0 20px;
    }
  }

  .am-tablist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 20px;
    border-bottom: 1px solid #d2d2d2;

    .am-title {
      display: flex;
      flex-basis: 50%;
      margin: 0;

      .am-link {
        color: #808080;
        text-align: center;
        width: 100%;

        @include media-breakpoint-up(sm) {
          font-size: 16px;
          padding: 7px 10px;
        }

        &:hover {
          background: #fff;
        }
      }

      &.active {
        .am-link {
          color: #000;
          font-weight: bold;
          border-bottom: 4px solid $green;
        }
      }
    }
  }

  .am-tabs-wrapper.-forgot {
    .am-tablist {
      display: none;
    }

    .am-form {
      padding: 20px;
      margin: 0;
    }

    .block-forgot-password {
      max-width: 100%;
      flex-basis: 100%;

      .secondary {
        margin-top: 20px;
      }

      .block-title {
        font-size: 18px;
        font-weight: bold;
      }

      .fieldset {
        display: inline-block;
        margin-bottom: 0;

        .field {
          &.note {
            float: left;
            width: 100%;
            display: block;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            color: #000;
            margin-top: 5px;
            margin-bottom: 10px;
          }

          &.captcha {
            label.label {
              position: static;
            }
          }
        }
      }

      .actions-toolbar {
        margin-top: 0;

        .primary {
          width: 100%;

          button {
            margin-bottom: 0;
          }
        }
      }
    }

    &.open-by-url {
      @include media-breakpoint-up(xl) {
        padding-top: 20px;
      }

      .secondary {
        color: $black;
      }

      [data-hide-if="open-by-url"] {
        display: none !important;
      }
    }

    &:not(.open-by-url) {
      [data-show-if="open-by-url"] {
        display: none !important;
      }
    }
  }

  #am-register-content.am-register-content {
    width: auto;

    .am-separator {
      display: none;
    }

    .am-social-wrapper {
      display: none;
    }

    #password-strength-meter-container {
      display: none;
    }

    .actions-toolbar {
      .primary {
        width: 100%;
      }
    }

    .am-form {
      .form-create-account {
        background: #fff;

        fieldset.fieldset {
          background: #fff;
          margin-bottom: 0;

          &.create.info {
            .field-name-firstname {
              width: 100%;
            }
          }
        }
      }
    }

    /*#is_terms-error, #privacy_policy-error {
      display: none !important;
    }*/

    .field-recaptcha {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .field {
        height: 0;
        overflow: hidden;
      }
    }
  }

  .legal-note {
    font-stretch: normal;
    font-size: 10px;
    line-height: 1.4;
    overflow-y: scroll;
    height: 60px;
    margin-top: 20px;
    color: $grey-bottom;

    p {
      color: $dark-grey;
      text-align: justify;
      font-size: 10px;
    }

    &::-webkit-scrollbar {
      width: 1px;
      background-color: $gray-pale;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6d6d6d;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 10px 10px $gray-pale;
      border: solid 3px transparent;
    }
  }

  .am-error {
    margin: 0;
    margin-top: -5px;
    background-color: $pink;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    text-align: center;
    color: $white;
    padding: 10px;
    display: none;
    position: relative;
    margin-bottom: 10px;
    max-width: 100%;

    a {
      color: white;
      text-decoration: underline;
    }
  }

  .am-success {
    margin: 0;
    margin-top: -5px;
    background-color: $green;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.33;
    text-align: center;
    color: $white;
    padding: 10px;
    display: none;
    position: relative;
    margin-bottom: 10px;
    width: 100%;

    span {
      position: relative;
      top: -5px;

      &:before {
        content: ' ';
        background-image: url(../images/icons/ico-success.svg);
        height: 21px;
        width: 22px;
        left: -6px;
        background-size: cover;
        display: inline-block;
        position: relative;
        top: 6px;
      }
    }
  }

  .am-form {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .am-separator {
    margin: 0 30px;
    border-bottom: none;
    display: block;

    .am-icon {
      width: auto;
      padding:0 7px;
      border: none;
      color: #000;
      white-space: nowrap;
    }
  }

  .am-social-wrapper {
    .am-social-login {
      background: none;
      width: 100%;
      min-height: 0;
      margin-top: 20px;
      margin-bottom: 20px;

      .am-buttons {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .am-button-wrapper {
          flex-shrink: 0;
          justify-content: center;
          display: flex;
          background: white;
          width: 32%;
          height: 71px;
          margin: 0 2% 0 0;
          border-radius: 1px;
          border: 1px solid $grey;
          padding: 10px;
          &:last-child {
            margin: 0;
          }
          &:hover {
            border-color: $black;
          }
          &:nth-child(3) {
            display: none; // hide apple login for now.
          }
        }
      }

      .secondary {
        margin-bottom: 10px;
      }

      .am-sl-button {
        box-shadow: none;
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        display: flex;
        width: auto;
        line-height: 28px;
        flex-grow: 1;
        padding: 0;
        background: inherit;
        @include media-breakpoint-up(md) {
          max-width: 100px;
        }

        .am-social-icon {
          width: 25px;
          height: 25px;
          //border-radius: 100%;
          text-align: center;
          flex-shrink: 0;
          flex-direction: row;
          display: flex;
          margin: auto;
        }

        .am-sl-text {
          text-align: center;
          font-size: 13px;
          flex-shrink: 1;
          flex-wrap: wrap;
          padding: 0 6px;
          color: #000;
          @include media-breakpoint-up(md) {
            line-height: 16px;
          }
          @include media-breakpoint-down(sm) {
            line-height: 14px;
          }
        }
        &.-google {
          .am-social-icon {
            background-image: url(../images/icons/ico-google.svg);
          }
        }
        &.-facebook {
          .am-social-icon {
            background-image: url(../images/icons/ico-fb-blue.svg);
          }
        }
        &.-apple {
          .am-social-icon {
            background-image: url(../images/icons/ico-apple.svg);
          }
        }
      }
    }
  }

  .actions-toolbar {
    button[type=submit], .action.primary {
      margin: 10px auto;
      width: 100%;
      font-size: 20px;
      background-color: $green;
      border: 0;
      padding: 10px;
      height: auto;
      border-radius: $border-radius;

      &:hover {
        background-color: $green-dark;
      }

      span {
        height: 16px;
        font-weight: bold;
        font-size: 20px;
        color: $white;
      }
    }
  }

  #am-login-content {
    flex-direction: column;

    .block-customer-login {
      max-width: 100%;
      flex-basis: 100%;
    }
  }

  .login-options, .reset-password-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -1px;
    height: 37px;
    line-height: 2.11;
    text-align: center;
    color: $gray-pale;
    padding: 0 20px;

    li {
      width: 50%;
      float: left;
      list-style: none;
      cursor: pointer;
      border-bottom: 1px solid $gray-pale;
      line-height: initial;
      padding-bottom: 12px;
    }

  }

  .reset-password-title {
    color: #000000;
    margin-bottom: 6px;
  }

  .secondary {
    text-align: center;
    font-size: 14px;
    margin: 0;

    a {
      color: #000;
      font-size: 14px;

      b {
        color: $green;
        font-weight: bold;
      }
    }

    .btn-link.remind {
      width: 100%;
      font-size: 13px;
      padding: 0;
      font-weight: normal;
      margin: 0;
      height: auto;
      color: #202020;
      text-decoration: underline;
      cursor: pointer;
      border: none;
      text-transform: none;
      margin-bottom: 15px;
      text-align: left;
    }
  }

  form {
    .control {
      position: relative;
    }

    .field {
      width: 100%;
      margin-bottom: 10px;

      &.required {
        .label {
          &:before {
            display: none;
          }

          &:after {
            content: '*';
          }
        }
      }
    }

    .form-group {
      margin-bottom: 0;
      display: inline-block;
      width: 100%;
    }

    .label {
      color: #808080;
    }

    .label:not(.input-has-value) {
      font-size: .9rem;
      color: #808080;
    }

    input:not([type='checkbox']) {
      border: solid 1px #dedede;
      width: 100%;
      background: none;
      color: #000;
      border-radius: $border-radius;
      font-size: .9rem;
      padding-left: 15px;
      padding-right: 15px;

      &:focus {
        border-color: $black;
        color: $black;
        outline: none;
        box-shadow: 0 0 1px rgb(0, 0, 0);
      }

      &.mage-error {
        border-color: $pink;
      }
    }

    .newsletter, .legal-terms, .privacy-policy {
      margin: 10px auto;

      input[type='checkbox'] {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: $border-radius;
        margin: 0;
        top: 0px;
      }

      label {
        padding-left: 25px;
        font-size: 11px !important;
        line-height: 1.45;
        color: #4a4a4a !important;
        -webkit-line-clamp: 2;


        a {
          text-decoration: underline;
          color: #4a4a4a;
          font-weight: bold;
        }

        &.label-error {
          color: $pink;
        }
      }

      .mage-error {

        + .label {
          color: $pink;

          a {
            color: $pink;
          }
        }
      }
    }

    .or-another-selection {
      width: 100%;
      text-align: center;
      font-size: 13px;
      line-height: 0.1em;
      border-bottom: 1px solid $gray-pale;
      margin: 16px auto 26px;

      span {
        background: $white;
        padding: 0 10px;
      }
    }

    .social-register {
      width: 100%;
      height: 48px;

      button {
        width: 48%;
        float: left;
        height: 48px;
        border-radius: $border-radius;
        padding: 0 20px 0 45px;
        line-height: 1.14;
        font-size: 14px;
        text-align: left;
        letter-spacing: -0.14px;
        border: 0;
        background-position: 7% 50%;
        background-repeat: no-repeat;
      }

      button:first-child {
        margin-right: 2%;
      }

      button:last-child {
        margin-left: 2%;
      }
    }

    .mage-error {
      font-size: 10px;
      color: $pink;
    }
  }

  .block-title {
    display: block;
    text-align: center;
    color: #202020;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 12px;
    font-size: 14px;
  }

  .am-sl-button {
    border-radius: $border-radius;
  }

  .am-close {
    z-index: 1;
  }
}

.am-login-popup#social-login-consent-popup {
  width: 87vw;
  border-radius: 4px;

  @include media-breakpoint-down(lg) {
    margin-left: 5vw;
    position: relative;
    height: auto;
  }

  @include media-breakpoint-up(xl) {
    max-width: 460px;
  }

  .am-login-content {
    width: 100%;
  }

  .am-form {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;

    @include media-breakpoint-up(xl) {
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  .am-tabs-wrapper {
    @include media-breakpoint-down(lg) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .ico-heart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68px;
    height: 64px;
    padding: 12px;
    border-radius: 50%;
    background-color: $green;
    color: $white;

    @include media-breakpoint-up(xl) {
      padding: 15px;
    }
  }

  .h1 {
    font-size: 22px;
    line-height: 1.18;
    font-weight: $font-weight-bold;
    text-align: center;
    color: $black;
    margin-top: 10px;

    @include media-breakpoint-up(xl) {
      font-size: 28px;
    }
  }

  .h2 {
    font-size: 15px;
    line-height: 1.25;
    text-align: center;
    color: $black;
    font-weight: $font-weight-normal;

    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }
  }

  .field {
    margin-bottom: 10px;
    .form-group {
      margin-bottom: auto;
      label {
        font-size: $font-size-base-alt;
        left: 12px;
        &:before {
          display: none;
        }
        &:after {
          content: "*";
        }
        &.input-has-value {
          font-size: 11px;
          color: #999999;

          + input {
            padding-top: 8px;

          }
        }
      }
      input {
        width: 100%;
        padding: 0 12px;
        border-radius: 2px;
        border: solid 1px $input-border-color;
        font-size: 15px;
        &:focus {
          border-color: $black;
        }
      }
    }
  }

  .not-interested {
    text-align: center;
    margin-bottom: 12px;
    span {
      color: $black;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .legal-note {
    margin-top: 0;

    p {
      margin-bottom: 0;
    }
  }

  .custom-checkbox {
    label {
      font-size: 12px;
      line-height: 1.36;
      color: $darker-grey;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

#forgot-password-success-request {
  .forgot-password-ok {
    background-image: url(../images/icons/ico-ok.svg);
    height: 21px;
    width: 21px;
    margin: auto;
    background-repeat: no-repeat;
  }

  .actions-toolbar {
    .primary {
      width: 100%;
    }

    .action.login {
      font-weight: bold;
      font-size: 20px;
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
      float: left;
      text-align: center;
    }
  }
}

/** Reset Password Page **/
.customer-account-createpassword {
  .page-title-wrapper {
    display: none;
  }
}

.authorization-link {
  cursor: pointer;
}

#invitation-send-link {
  display: none;
}

#reset-password-wrapper {
  margin: 80px auto auto;
  background-color: $white;
  width: 462px;
  padding: 30px 35px;

  button {
    margin-top: 15px;
  }
}

@include media-breakpoint-down(sm) {
  .am-tabs-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.toggle-password {
  background-image: url(../images/icons/ico-eye-off.svg);
  height: 20px;
  filter: opacity(0.6);
  width: 20px;
  position: absolute;
  right: 15px;
  z-index: map_get($z-index, toggle-password);
  top: 15px;
  cursor: pointer;
  background-repeat: no-repeat;

  &.showPass {
    background-image: url(../images/icons/ico-eye-on.svg);
  }
}
