body {
  &._has-modal {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  &._has-modal-custom .modal-custom-overlay {
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 899;
  }
}
.modals-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $overlay-black-60;
}
.modal-slide, .modal-popup {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  min-width: 0;
  position: fixed;
  overflow-y: auto;
  visibility: hidden;
  z-index: $zindex-modal;
  .modal-inner-wrap {
    background-color: $white;
    box-shadow: $box-shadow-100;
    opacity: 1;
    pointer-events: auto;
    margin: 5rem auto;
    width: 50%;
    min-width: 730px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-200%);
    transition-duration: .2s;
    transition-property: transform, visibility;
    transition-timing-function: ease;
    border-radius: $border-radius;
  }
  .modal-title {
    font-size: 16px;
  }
  .modal-header {
    padding-bottom: 20px;
    padding-top: 20px;
    min-height: 55px;
    border-bottom: none;
    .close {
      z-index: 999;
    }
  }
  .modal-content {
    padding: 0 27px 20px;
    border: none;
    p, li {
      font-size: 12px;
    }
    ul{
      li{
        list-style: disc;
        font-weight: normal;
        margin-left: 40px;
      }
    }
  }
  .modal-footer {
    min-height: 65px;
    .action {
      &-primary, &.primary {
        @extend .btn-primary;
      }
      &-secondary, &.secondary {
        @extend .btn-secondary;
      }
    }
  }

  &._show {
    visibility: visible;
    .modal-inner-wrap {
      transform: translate(0, 0);
    }
  }
  &._inner-scroll {
    overflow-y: visible;
    .modal-inner-wrap {
      max-height: 70%;
    }
    .modal-content {
      overflow-y: auto;
    }
  }
}

.modal-slide._inner-scroll.modal-storepickup {
  .modal-header {
    display: block;
    min-height: initial;
    padding: 0 !important;
    .action-close {
      position: absolute;
      background-color: $white;
      border-radius: 100%;
      display: block;
      right: 25px;
      top: 25px;
      width: 40px;
      height: 40px;

      &:before {
        top: 8px !important;
        left: 8px !important;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .modal-slide, .modal-popup {
    .modal-inner-wrap {
      min-width: auto;
      width: 90%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .modal-slide, .modal-popup {
    &._inner-scroll {
      .modal-inner-wrap {
        min-width: auto;
        width: 90%;
        max-height: 90%;
      }
    }
  }
}
