html:not(.has-mobile-menu) {
  .navigation {
    li.level0 {
      &:not(:first-child) {
        margin-left: 25px;
      }
    }
  }
}

@include media-breakpoint-up (lg) {
  .nav-sections {
    background: transparent;
    margin-bottom: 0;
    &-items {

    }
    &-item {
      &-title {
        display: none;
      }
      &-content {
        display: block;
        > * {
          display: none;
        }
        .navigation {
          display: block;
        }
      }
    }
  }

  .navigation {
    z-index: 3;
    font-size: $font-size-base-custom;
    font-family: $client-font-alt;
    letter-spacing: $client-font-alt-letter-spacing;
    @include unstyle-block-divs();

    ul {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      position: relative;
    }
    > ul {
      display: flex;
    }
    li {
      list-style: none;
      &.level0 {
        border-top: none;
      }
    }

    li.level0 {
      .level-top {
        display: block;
        font-size: 15px;
        font-weight: $font-weight-medium;
        color: $black;
        position: relative;
        padding-bottom: 20px;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 3px;
          background-color: transparent;
        }
      }

      &.active,
      &.click-active {
        .level-top {
          &:after {
            background-color: $green;
          }
        }
        .submenu {
          min-height: 615px !important; // contemplate two rows of banners
        }
      }

      &:not(.click-active) {
        .submenu {
          height: 0;
          min-height: 0 !important; // will be overwritten by setSubmenuHeight js
          overflow-y: hidden;
        }
      }
    }

    .level0 {
      > .level-top {
        &:hover {
          text-decoration: none;
        }
      }
      //&:hover {
      &.click-active {

      }
      &.parent {
        //&:hover {
        &.click-active {
          > .submenu {
            overflow: visible;
            z-index: 9999;
            opacity: 1;
          }
        }
      }
      > .mobile-level {
        display: none !important;
      }
      .submenu {
        font-size: 15px;
        position: absolute;
        left: 0;
        right: 0;
        background: $white;
        border-radius: 2px;
        box-shadow: 0 7px 9px -1px rgba(129, 129, 129, 0.15);

        &:before {
        }
        .submenu-inner {
        }
        .submenu-container {
        }
        .submenu-items {
          text-align: left;
          display: flex !important;
          flex-direction: column;
          flex-wrap: wrap;

          &:before{
          }
          li {
          }

	        li.level1 {
		        width: 25%;

            &.hover {
              > a {
                font-weight: $font-weight-bold;
                background-color: #f2f2f2;
              }
            }

            &:not(.hover) {
              ul.level1 {
                visibility: hidden;
              }
            }

            ul.level1 {
              display: flex !important;
              flex-direction: column;
              background-color: #f2f2f2;
            }

            a {
              display: block;
              padding: 10px 25px;
              text-decoration: none;
            }
	        }

	        ul.level1 {
		        top: 0 !important;
		        position: absolute;
		        width: 25%;
            left: 25%;
            display: none;
	        }

	        li.level2 {
            &.hover {
              > a {
                font-weight: $font-weight-bold;
              }
            }
	        }

	        li.menu__extra {
		        width: 50%;
		        position: absolute;
            top: 0;
		        right: 0;
	        }

          a {
            padding: 0;

            &:not(.view-all-categories__link) {
              color: $black;

              &:hover {
                color: $black;
              }
            }
          }
        }
        .submenu-link {
          a {
            padding: 10px 25px;
            display: block;
          }
        }
        .submenu-featured {
          display: flex;
          width: 40%;
        }
        .submenu {
          display: none;
        }
      }
    }
    &:empty {
      display: none;
    }
  }
}

.navigation {
  html:not(.has-menu-mobile) & {
    font-size: 14px;
  }

  ul:not(.mobile-level) {
    > .view-all-categories {
      html:not(.has-mobile-menu) & {
        display: none;
      }
    }
  }

  .view-all-categories {
    @include media-breakpoint-up(xl) {
      order: 999999999; // move to last position
    }

    a {
      color: $green;
    }
  }

  .view-all-categories__link {}

  .view-all-categories__text {
    margin-right: 5px;
    white-space: normal;
  }

  .view-all-categories__count {
    color: $dark-grey;
    white-space: normal;

    html:not(.has-mobile-menu) & {
      display: none;
    }
  }



  .category-img {
    background-size: cover;
    background-position: right;
    margin-right: $mobile-menu-category-img-margin-right;
    width: $mobile-menu-category-img-width;
    height: $mobile-menu-category-img-height;
    background-color: $light-grey;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;

    html:not(.has-mobile-menu) & {
      display: none;
    }

    img {
      max-width: 100%;

      html:not(.has-mobile-menu) & {
        display: none;
      }
    }
  }

  .nav-close {
    @include reset-button-styles();
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 22px;
    color: $black;
  }

  .mm-panel_opened {
    .submenu-items,
    .mobile-level {
      @include media-breakpoint-down(lg) {
        display: block !important; // Force submenu visibility
      }
    }
  }
}

.nav-toggle {
  cursor: pointer;

  &.icon {
      fill: $black-two;
	  width: 28px;
	  height: 28px;
  }
}

.menu-banner {
  $banner-width: 220px;
  $banner-margin-x: 25px;

  width: ($banner-width + $banner-margin-x) * 2;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  z-index: map_get($z-index, menu-banner);

  a {
    margin-bottom: 25px;
    margin-right: $banner-margin-x;
  }
}

.menu-health-guide {
  div[data-content-type='row'] {
    > div {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
  .health-guide-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 2.11;
    color: $black;
    padding: 10px 25px;
    margin-bottom: 0;
  }

  ul.mobile-level.level1{
    margin-top: 57px;
  }

  .menu-health-guide-inner {
    .level0.submenu {
      min-height: 630px !important;
      display:block;
    }
    .submenu-items {
      li.level1 {
        ul.level1 {
          @include media-breakpoint-up(lg) {
            margin-top: 57px;
          }
        }
      }
    }
  }
}

.menu-health-guide__right-side {
  @include media-breakpoint-up(xl) {
    width: 490px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .health-guide-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 2.11;
    color: $black;
    padding: 10px 25px 10px 10px;
    margin-bottom: 0;
  }

  .health-guide-line {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    color: black;

    a {
      color: inherit;
      &:hover {
        font-weight: bold;
        text-decoration: none;
      }

       .thumb,
       .icon {
        width: 60px;
        height: 60px;
        background-size: cover;
        margin-right: 10px;
      }
    }
  }
  }


@include media-breakpoint-down(sm) {
  .nav-toggle {
    margin-left: -5px;
  }
  .menu-health-guide-inner {
    .health-guide-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 2.11;
    }

    .health-guide-diet,
    .health-guide-objectives {
      border-bottom: 1px dashed $grey;
      margin-bottom: 1rem;
      .icon,
      .thumb {
        width: $mobile-menu-category-img-width;
        height: $mobile-menu-category-img-height;
        margin-right: $mobile-menu-category-img-margin-right;
      }
      .health-guide-line {
        font-size: 14px;
        padding-left: 1rem;
      }
    }
    .submenu-items {
      li.level1 {
        margin-top: 1rem;
        font-size: 14px;
        > a  {
          padding-left: 1rem;
          > span {
            margin-bottom: 1rem;
            font-weight: bold;
          }
        }
        ul.level1 {
          display: flex;
          flex-basis: 100%;
          flex-direction: column;
          padding-left: 1rem;
          .view-all-categories {
            order:1;
          }
          .level2 {
            margin-bottom: 1rem;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-left: 1rem;
          }
        }
      }
    }
  }
}

html.has-mobile-menu {
  .navigation {
    border-right: 1px solid $grey;
    &--secondary {
    }
    &__links {
      display: block !important;
      position: inherit !important;
    }
  }

  .mm-menu {
    text-transform: none;
    background-color: $white;
    color: $black;

    .mm-btn {
      &:before, &:after {
        border-color: $black;
      }
      + .mm-navbar__title {
        padding-left: 25px;
      }
    }

    .mm-listview {
      .mm-btn_next {
        &:after {
          border-color: currentColor;
        }
      }
    }

    div.mobile-level.level0 {
      ul.mobile-level.level0 {
        li {
          a {
            padding-left: 0;
          }
        }
      }
    }
  }
  .mm-listview {
  }
  .mm-navbar {
    padding: 0 20px;
    text-align: left;
    font-weight: $font-weight-bold;
    background-color: $gray-pale;
    border: 0;
  }
  .mm-navbar__title {
    color: $black !important;
  }
  .mm-listitem {
    border-color: transparent;

    &:after {
      left: 0;
    }
    > a, > span {
      font-weight: $font-weight-medium;
    }
  }
  .minisearch--mobile {
    padding: 15px;
    .field {
      margin-bottom: 0;
      &.text {
        display: none;
      }
      &.search {
        min-width: calc(100% - 55px);
        .control, input {
          width: 100%;
        }
      }
      &.actions {
        button {
          padding-left: 15px;
          padding-right: 10px;
          margin-left: 10px;
        }
        i {
          margin: 0;
        }
        span {
          display: none;
        }
      }
    }
    .search-autocomplete {
      display: none !important;
    }
  }
  .switcher-options {
    margin-top: 5px;
    .switcher-trigger {
      outline: none;
      cursor: pointer;
      padding: 6px 20px 5px 0;
      @include transition(all, 0.3s);
      &:after {
        content: '';
        background: url("../images/icons/ico-arrow-drop-down.svg") center no-repeat;
        width: 15px;
        height: 22px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        @include transition(all, 0.3s);
      }
    }
    .switcher-dropdown {
      display: none;
      padding: 0 20px;
    }
    &.active {
      .switcher-trigger {
        text-decoration: underline;
        &:after {
          transform: rotate(180deg);
        }
      }
      .switcher-dropdown {
        display: block !important;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .navigation--secondary {
    @include unstyle-block-divs();
  }

  .menu-extra-links__item {
    padding: 10px 10px 10px 20px;
    font-weight: $font-weight-medium;
    display: block;
  }
}

@include media-breakpoint-up(xl) {
  .menu-extra-links {
    margin-left: auto;
    font-size: 15px;

    .btn {
      font-size: 15px;
      height: auto;
      border-radius: $border-radius;
      padding: 1px 15px;
      width: auto;
    }
  }

}

.mm-listitem .mm-btn_next:not(.mm-btn_fullwidth) {
  width: 100%;
}

.navigation {
  .menu-banners {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .health-guide-line {
    .thumb,
    .icon {
      @include media-breakpoint-down(lg) {
        width: $mobile-menu-category-img-width;
        height: $mobile-menu-category-img-height;
        margin-right: $mobile-menu-category-img-margin-right;
      }
    }
  }
}