.module-newsletter {
  .block-title {
    margin-top: 15px;
  }
  .block-content {
    .form.subscribe {
      align-items: start;
    }
    .field {
      &.text {
        padding-top: 3px;
        .label {
          justify-content: flex-end;
          text-align: right;
          font-family: $client-font-alt;
          letter-spacing: $client-font-alt-letter-spacing;
          font-size: $font-size-base-custom;
          font-weight: $font-weight-medium;
          text-transform: uppercase;
          padding-top: 3px;
          padding-left: 0;
          span {
            max-width: 134px;
          }
          &:before {
            display: none;
          }
        }
      }
      &.newsletter {
        padding-top: 0;
        label {
          display: block;
          a {
            color: inherit;
            text-decoration: underline;
          }
        }
        .custom-control {
          width: calc(100% + 100px);
        }
        .control, .input-text {
          width: 100%;
        }
      }
    }
  }
}
