.order-summary {
  color: $black;
}

.order-summary__head {
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
}

.order-summary__delivery {
  background-color: #e9f5f1;
  padding: 5px 10px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  border-radius: 2px;
  flex-direction: column;
  border: 1px solid #47bd9b;
}

.order-summary__delivery-text {
  margin-left: 5px;
  margin-right: 5px;
}

.order-summary__table {
  width: 100%;
  color: $black;
  border-bottom: 1px solid $light-grey;
  display: table;
  text-align: center;

  .checkout-index-index & {
    border-bottom: 0;
    font-size: 13px;
  }

  .checkout-onepage-success & {
    font-size: 14px;
  }
}

.order-summary__caption {
  caption-side: top;
  padding-top: 0;
  color: inherit;
  margin-bottom: 10px;
  display: table-caption;
  text-align: left;
  font-weight: $font-weight-bold;
}

.order-summary__thead-tr,
.order-summary__tbody-tr {
  display: table-row;

  img {
    max-width: 100px;

    .checkout-index-index & {
      max-width: 50px;
      max-height: 50px;
    }
  }

  > * {
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid $light-grey;

    &:first-child {
      text-align: left;
      padding-left: 0;
    }

    &:nth-child(2) {
      width: 100%; // will take all remaining horizontal space
    }

    &:last-child {
      text-align: right;
    }
  }
}

.order-summary__thead {
  color: $dark-grey;
  font-size: .9em;
  display: table-header-group;
}

.order-summary__tbody {
  display: table-row-group;
}

.order-summary__item-brand {
  color: $dark-grey;
  text-align: left;
}

.order-summary__item-name {
  text-align: left;
  font-weight: $font-weight-medium;
  line-height: 1.2;
  max-width: 80%;
}

.order-summary__item-qty {
  font-weight: $font-weight-bold;
}

.order-summary__item-price {
  font-weight: $font-weight-bold;
}

.order-summary__totals {
  font-size: 14px;
}

.order-summary__subtotal,
.order-summary__shipping,
.order-summary__fee,
.order-summary__coupon,
.order-summary__total {
  display: flex;
  margin-top: 10px;
}

.order-summary__subtotal-amount,
.order-summary__shipping-amount,
.order-summary__fee-amount,
.order-summary__coupon-amount,
.order-summary__total-amount {
  margin-left: auto;
}

.order-summary__total {
  font-weight: $font-weight-bold;
  font-size: 20px;
  line-height: 1;
}

.order-summary__total-vat {
  color: $dark-grey;
  font-size: 12px;
  font-weight: $font-weight-normal;
}

.order-summary__coupon {
  color: $green;
}

.order-summary__fee {
  text-align: left;

  @include media-breakpoint-down(lg) {
    position: relative;
  }

  > *:not(:first-child) {
    margin-left: 5px;
  }

  .tooltip {
    padding: 15px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: $box-shadow-80;
    display: grid;
    grid-template:
      'title close'
      'items items'
            /1fr;
    grid-column-gap: 10px;
    bottom: 2em;
    left: 0;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    @include media-breakpoint-up(xl) {
      left: -15px;
    }

    &:not(.hidden) {
      opacity: 1;
    }

    > .tooltip__title { grid-area: title }
    > .tooltip__close { grid-area: close }
    > .tooltip__items { grid-area: items }
  }

  .ico-info {
    cursor: pointer;
  }

  .tooltip__title {
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 1.2;
  }

  .ico-close {
    align-self: end;
    cursor: pointer;
    position: relative;
    left: 2px;
  }

  .tooltip__items {
    margin-top: 10px;
    font-size: 13px;
  }

  .tooltip__item {
    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
      border-top: 1px solid $light-grey;
      margin-top: 5px;
      padding-top: 5px;
    }

    > *:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.order-summary__fee-text {
  margin-right: auto;
}

.order-summary__fee-tooltip {
  flex-grow: 1;

  @include media-breakpoint-up(xl) {
    position: relative;
  }
}