.checkout-cart-index {
  .naturitas_promise_date {
    padding: 15px 20px 0;
    color: $black;
    font-size: 13px;
    background: $white;
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
    .wrapper{
      display: flex;
      flex-direction: column;
      background: $green-light;
      padding: 10px;
      border: 1px solid $green;
      border-radius: 2px;
    }
    .title{
      i{
        margin-right: 4px;
        position: relative;
        top: -2px;
      }
    }
    .date{
      width: 100%;
      display: flex;
      font-weight: bold;
    }
  }
}

.checkout-index-index {
  .shipping-method {
    .span.aprox-date:after {
      content: '\2022';
      margin-left: 7px;
      top: 0;
      position: relative;
    }
  }
  .naturitas_promise_date {
    order: 1;
    padding-top: 5px;
    border-top: 1px solid $light-grey;
    margin-top: 5px;
    .wrapper{
      display: flex;
      flex-direction: column;
      background: $green-light;
      padding: 6px 10px;
      border: 1px solid $green;
      border-radius: 2px;
      font-size: 13px;
      color: $black;
      .title{
        margin-bottom: 3px;
        font-weight: 400;
        i{
          position: relative;
          top: -2px;
          font-size: 16px;
          font-weight: bold;
          color: $black-two;
        }
      }
      @include media-breakpoint-down(lg) {
        flex-direction: column;
      }
      .date {
        text-align: left;
        font-weight: bold;
      }
    }
  }
}
.module-product {
  .product-delivery-date {
    color: $black-two;
    margin-top: 15px;
    font-size: 15px;
    display: flex;
    align-items: baseline;

    .product-delivery-date-text {
      color: $black-two;
      font-weight: 400;
    }
    .product-delivery-date-icon {
      font-size: 25px;
      top: 8px;
    }

    b {
      color: $green;
      display: block;
    }
  }
}