.product-seals {
	margin-top: 20px;
	color: $black;

	@include media-breakpoint-down(lg) {
		margin-right: -10px;
		position: relative;
	}
}

.product-seals-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;

	@include media-breakpoint-up(xl) {
		font-size: 18px;
	}
}

.product-seals-items {
	list-style-type: none;
	margin: 0 0 0 -10px;
	padding: 0;
	font-size: 12px;
	text-align: center;
	display: flex;

	@include media-breakpoint-down(lg) {
		overflow-x: auto;
		max-width: 100vw;
	}

	@include media-breakpoint-up(xl) {
		flex-wrap: wrap;
	}
}

.product-seals-item {
	width: 69px;
	flex-shrink: 0;
	line-height: 1.25;
	margin-left: 10px;
	margin-top: 10px;
	cursor: pointer;

	@include media-breakpoint-up(xl) {
		position: relative;
	}

	img {
		display: block;
		margin: 0 auto 5px;
		height: 55px;
	}
}

.product-seals-item-tooltip {
	$shadow-color: $grey;
	$arrow-size: 10px;
	$background-color: $white;

	text-align: left;
	z-index: map_get($z-index, product-seal-tooltip);
	position: absolute;
	top: 85px;
	left: 10px;
	width: 360px;
	background-color: $background-color;
	padding: 10px;
	border-radius: $border-radius;
	box-shadow: 0 0 4px 0 $shadow-color;

	@include media-breakpoint-down(lg) {
		width: calc(100% - 10px);
		left: 0;
		top: 115px;
	}

	.product-seals-items.horizontal-scroll &,
	.product-seals-item:not(:hover) & {
			display: none;
	}


	&:before,
	&:after { // tooltip arrow
		bottom: 100%;
		left: 25px;
		border: solid transparent;
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	&:before {
		border-color: transparent;
		border-bottom-color: rgba($shadow-color, 0.3);
		border-width: $arrow-size;
		margin-left: $arrow-size * -1;
	}

	&:after {
		$size: $arrow-size - 2;
		border-bottom-color: $background-color;
		border-width: $size;
		margin-left: $size * -1;
	}
}