.promo-top {
	@include unstyle-block-divs();

	.checkout-index-index & {
		margin-left: $grid-gutter-width / 2 * -1;
		margin-right: $grid-gutter-width / 2 * -1;
	}

	.promo-top-section {
		position: relative;

		.container {
			@include media-breakpoint-down(lg) {
				padding-left: 0;
				padding-right: 0;
				min-width: 100%;
			}

			.promo-top-holder {
				$background-color: map_get($season, color);
				$background-image: map_get($season, promo-top-section-background-image);

				padding: 6px 6px 8px;
				text-align: center;
				background: $background-color url($background-image);
				color: $white;
				font-weight: $font-weight-bold;

				@include media-breakpoint-down(sm) {
					font-size: 13px;
				}
			}
		}
	}
}