.register-popup-wrapper {
  min-width: 457px;
  max-width: 457px;
  margin: auto;
  text-align: center;
  color: $black;
  @include unstyle-block-divs();

  @include media-breakpoint-down(sm) {
    min-width: auto;
  }

  .modal-inner-wrap {
    min-width: inherit;
    min-height: auto !important;
    @include media-breakpoint-down(sm) {
      margin-top: 10%;
    }
  }

  header.modal-header {
    display:none;
  }

  .modal-content {
    padding: 0;
    .register-popup-header {
      width: 100%;
      height: 120px;
      &:before {
        content: "";
        background-image: url('../images/home/popup_register.jpg');
        background-size: cover;
        width: inherit;
        height: inherit;
        position: absolute;
        left: 0;
        top: 0;
      }
      .action-close {
        position: relative;
        right: 5px;
        top: 5px;
        background: white;
        padding: 20px;
        border-radius: 50%;
        opacity: .5;
        &:hover {
          opacity: 1;
        }
        &:before {
          position: absolute;
          top: 8px;
          right: 8px;
        }
      }
    }

    .register-popup-coupon {
      .error-result {
        background-color: $pink;
        padding:10px;
        color:$white;
        font-size: 13px;
        position: absolute;
        top: -30px;
        width: 100%;
        left: 0;
      }
      .block-content {
        padding: 5px 20px;
        position: relative;
        .title {
          font-size: 26px;
          font-weight: $font-weight-bolder;
          line-height: 1.19;
          @include media-breakpoint-down(sm) {
            font-size: 20px;
          }
        }
        .text-block {
          font-size: 18px;
          line-height: 1.28;
          @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
          }
          b {
            color: $green;
          }
        }
        .names-wrapper {
          display: flex;
          justify-content: space-between;
          @include media-breakpoint-down(md) {
            flex-flow: column;
          }
        }
        .input-box {
          margin-bottom: 8px;
          label {
            font-size: $font-size-base-alt;
            &.input-has-value {
              font-size:11px;
            }
            &:before {
              display: none;
            }
          }
          input {
            border-radius: 2px;
            border: 1px solid $input-border-color;
            font-size: 15px;
            &:focus {
              border: 1px solid $black;
            }
          }
          @include media-breakpoint-up(lg) {
            &.name {
              width: 50%;
              margin-right: 10px;
            }
            &.surname {
              width: 50%;
            }
          }
          &.birthday {
            clear: both;
            label {
              position: relative;
              text-align: left;
              left: auto;
              font-size: 13px;
              line-height: 1.15;
              color: $black;
              margin-bottom: .8rem;
            }
            input {
              padding-top: 0.6rem;
              padding-bottom: 0.6rem;
            }
          }
        }
        .actions {
          margin: 10px auto;
          .submit {
            width: 100%;
            border-radius: 2px;
            font-size: 18px;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
          }
        }
        .legals {
          max-height: 60px;
          overflow-y: scroll;
          padding: 1px;
          text-align: left;
          font-size: 10px;
          color: $medium-grey;

          &::-webkit-scrollbar {
            width: 1px;
            background-color: $gray-pale;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #6d6d6d;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 10px 10px $gray-pale;
            border: solid 3px transparent;
          }
        }
      }
      .result {
        display: none;
        .result-content {
          padding: 5px 25px 20px;
          .title {
            font-size: 30px;
            line-height: 1.23;
            @include media-breakpoint-down(sm) {
              font-size: 22px;
            }
          }
          .text-block {
            font-size: 20px;
            line-height: 1.2;
            @include media-breakpoint-down(sm) {
              font-size: $font-size-base;
            }
            b {
              color: $green;
              font-weight: $font-weight-bold;
            }
          }
          small {
            font-size: 13px;
            line-height: 1.38;
            color: black;
          }
        }
      }
    }
  }
}