.header__search {
	font-size: 14px;

	@include media-breakpoint-down(lg) {
		padding: 10px 10px 0;
	}

	.nested {
		display: none;
	}

	button.search {
		@include reset-button-styles();
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);

		.icon {
			fill: $green;
			width: 24px;
			height: 24px;
		}
	}

	.field {
		position: relative;
	}

	.form-group {
		margin-bottom: 0;
	}

	.input-text {
		font-size: inherit;
		height: auto;
		border-radius: $input-search-radius;
		padding-left: 45px;  // space for glass icon
		padding-right: 65px; // space for close icon & spinner
		@include media-breakpoint-down(sm) {
			padding-right: 10px;
		}

		&:focus {
			border-color: $black;
			box-shadow: none;
			@include media-breakpoint-down(sm) {
				padding-right: 65px;
			}

			&::-webkit-input-placeholder { visibility: hidden }
			&::-moz-placeholder { visibility: hidden }
			&:-ms-input-placeholder { visibility: hidden }
			&:-moz-placeholder { visibility: hidden }
		}
	}
}

.minisearch__close {
	position: absolute;
	right: 11px;
	top: 8px;
	visibility: hidden;
}

#dfclassic { // Increase specificity to override inline styles
	color: $black;
	font-family: $client-font;

	@include media-breakpoint-up(xl) {
		width: 880px !important;
		margin-top: 15px;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
		border: 0;
		border-radius: $border-radius;
	}

	.df-icon-list,
	.df-branding {
		display: none;
	}

	.df-header {
		border: 0;
		padding: 5px 0 10px;
		height: auto;
	}

	.df-header-title {
		padding-right: 0;
	}

	.df-aside {
		padding-top: 0;
		background-color: $white;
		width: 225px !important;
		font-size: 15px;

		* {
			font-size: inherit;
		}
	}

	.df-aside__content {
		top: 0;
		padding-bottom: 0;
	}

	.df-panel {
		margin-bottom: 0;

		+ .df-panel {
			border-top: 1px solid #f2f2f2;
			padding-top: 5px;
		}

		&[data-facet="rating_group"] {
			.df-panel__content {
				display: flex;
				flex-direction: column-reverse;
			}
		}
	}

	.df-panel__title {
		max-height: 100%;
		padding-bottom: 0;
		background-position: top 1em right 15px;

		&:hover {
			text-decoration: none;
		}
	}

	.df-term {
		&:active,
		&:focus,
		&:hover {
			border-color: transparent;
			background-color: #f2f2f2;
		}

		&[data-selected] {
			border-color: transparent;
			background-color: $green-light;
			border-radius: $border-radius;
			color: inherit;
		}

		&[data-facet="rating_group"] {
			align-items: center;

			.df-term__value {
				color: transparent; // Hides text
				position: relative;
				flex-grow: 0;
				@include rating-stars(
					$star-fill-selector: '&:after'
				);

				&:after {
					content: '';
					position: absolute;
					left: 0;
				}
			}

			&[data-value^="1"] .df-term__value:after {
				width: 20%;
			}

			&[data-value^="2"] .df-term__value:after {
				width: 40%;
			}

			&[data-value^="3"] .df-term__value:after {
				width: 60%;
			}

			&[data-value^="4"] .df-term__value:after {
				width: 80%;
			}

			&[data-value^="5"] .df-term__value:after {
				width: 100%;
			}

		}
	}

	.df-term__count {
		color: $green;
	}

	.df-main {
		background-color: #f2f2f2;
	}

	.df-results {
		grid-template-columns: repeat(auto-fill, 135px);
		grid-column-gap: 20px;
		grid-row-gap: 15px;
		padding: 0 20px;
	}

	.df-card {
		&:hover {
			background-color: $white;
			box-shadow: 0 0 5px 2px #e4e3e3;
		}

		.btn {
			font-size: inherit;
			padding: 7px;
			line-height: 1;
			height: auto;

			@include media-breakpoint-up(xl) {
				padding: 5px;
			}
		}
	}

	.df-card__content {
		text-align: left;

		> :last-child {
			margin-top: inherit;
		}
	}

	.df-card__main {
		padding: 10px 10px 10px 5px;

		@include media-breakpoint-up(xl) {
			padding: 10px 5px 5px;
		}
	}

	.df-card__image {
		width: 110px;
		height: 110px;
		margin-right: 10px;

		@include media-breakpoint-up(xl) {
			width: 85px;
			height: 85px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.df-card__brand {
		font-size: 12px;
		color: $dark-grey;
		margin-bottom: 0;
		@include line-clamp($lines: 1);
	}

	.df-card__title {
		font-size: 13px;
		font-weight: $font-weight-bold;
		margin-bottom: 0;
		@include line-clamp($lines: 2);
	}

	.df-card__presentation {
		font-size: 12px;
		font-weight: $font-weight-medium;
		margin-bottom: auto;
		@include line-clamp($lines: 1);
	}

	.df-card__reviews {
		display: flex;
		align-items: center;
		font-size: 12px;
		margin-top: 5px;
		margin-bottom: 0;

		&[data-counter=""],
		&[data-counter="0"] {
			display: none;
		}
	}

	.df-card__reviews-rating {
		@include rating-stars();
		margin-right: 5px;
	}

	.df-card__reviews-counter {
		color: $dark-grey;
	}

	.df-card__pricing {
		font-size: 18px;
		font-weight: $font-weight-bold;
		margin-top: 0;
		margin-bottom: 5px;
	}

	.df-card__price {
		margin-left: 0;
		margin-right: 0;
	}

	.df-card__price--old {
		font-size: 13px;
		color: $grey;
		font-weight: $font-weight-normal;
		margin-left: 5px;
	}

	.df-card__stock--out {
		color: $danger;
		font-size: 13px;
		line-height: 1;
	}

	.df-card__cart-add {
		&.waiting {
			font-size: 10px;
			padding-top: 4px;
			padding-bottom: 4px;
		}
	}

	.df-mobile__content {
		padding-left: 10px;
		padding-right: 10px;

		.df-banner {
			display: none;
			&:first-child{
				display: inherit;
			}
		}
	}

	.df-mobile__action-button {
		background-color: hsla(0,0%,100%,.5);
		box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
		border-color: transparent;

		svg {
			fill: currentColor;
		}

		&[data-role="scrolltop"] {
			color: $green;
		}

		&[data-role="close"] {
			color: $dark-grey;
		}
	}

	.df-no-results {
		font-weight: $font-weight-bold;

		svg {
			width: 40px;
			fill: $green;
			margin-bottom: 10px;
		}
	}

	.df-no-results__title {
		font-size: 30px;
	}
}

body {
	&.is-searching {
		@include media-breakpoint-up(xl) {
			&:after {
				content:"";
				position: fixed;
				top: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				overflow: auto;
				background: rgba(0,0,0,.5);
			}
		}
	}
}