.slick-slider {
  .slick-arrow {
    position: absolute;
    top: 42%;
    z-index: map_get($z-index, slick-arrow);
    -webkit-appearance: none;
    padding: 5px;
    outline: none;
    color: $green;
    font-size: 22px;
    font-weight: $font-weight-bold;
    width: 36px;
    height: 36px;
    border: none;

    @include media-breakpoint-down(lg) {
      top: 20%;
    }

    &.slick-next {
      right: 15px;

      @include media-breakpoint-down(lg) {
        right: 0;
      }
    }
    &.slick-disabled {
      color: $grey;
      transition: all 0.3s;
      cursor: default;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 15px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        &:hover, &:focus {
          outline: none;
          &:before {
            opacity: 1;
          }
        }
        &:before {
          @include media-breakpoint-down(lg) {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: .5;
            background-color: $white;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            border-radius: 50%;
          }
        }
      }
      &.slick-active {
        button {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

.module-slider {
  //overflow: hidden;
  width: 100%;
  background-color: $gray-pale;
  .slick-slider {
    .slick-arrow {
      background-color: $white-65;
    }
    img {
      width: 100%;
    }
    .slick-dots {
      position: absolute;
      bottom: -30px;
      z-index: map_get($z-index, slick-dots);
      display: flex;
      justify-content: center;
      margin: auto;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      left:0;
      li {
        width: 230px;
        height: 60px;;
        border: 1px solid silver;
        background-color: $white;
        border-radius: $border-radius;
        margin: 0 5px;
        padding: 5px;
        cursor: pointer;
        overflow: hidden;
        .thumb-image-slideset{
          width: 50px;
          height: 50px;
          display: block;
        }
        button {
          $line-height: 1.25;
          position: relative;
          height: 100%;
          padding: 0;
          display: flex;
          align-items: center;
          font-size: 1rem;
          color: $black;
          font-weight: 500;
          line-height: $line-height;
          -webkit-appearance: none;
          border: none;
          background: 0 0;
          outline: 0;
          overflow: hidden;

          span {
            $line-clamp-lines: 2;
            $line-clamp-height: $line-clamp-lines * $line-height * 1em;
            padding-left: 10px;
            text-align: left;
            display: block;
            @include line-clamp($lines: $line-clamp-lines, $height: $line-clamp-height);
          }
        }
        &.slick-active {
          box-shadow: 0 1px 3px 1px rgba(183, 183, 183, 0.5);
          border: solid 1px $green;
          transition: all 0.3s;
          button {
            font-weight: $font-weight-bold;
            transition: all 0.3s;
          }
        }
      }
    }
  }
  &__items {
    min-height: 350px;

    @include media-breakpoint-down(lg) {
      min-height: 200px;
    }

    @include transition(height, 0.2s);
    color: transparent;
    max-width: 1200px;
    margin: 0 auto;
    &.slick-initialized {
      .module-slider__item {
        display: block;
        .item__placeholder {
          display: flex;
        }
      }
    }
  }
  &__item {
    display: none;
    &:first-child {
      display: block;
      .item__background {
      }
      .item__placeholder {
        display: none;
      }
    }
  }

  .item {
    &__background {
      width: 100%;
      height: 380px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: block;

      @include media-breakpoint-down(lg) {
        height: 200px;
      }
    }
    &__container {
      background-color: $white;

      @include media-breakpoint-up(xl) {
        display: none;
      }
    }
    &__placeholder {
      position: absolute;
      left: 0;
      padding: 15px;
      color: $white;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      width: 50%;
    }
    &__inner {
      width: 100%;
    }
    &__title {
      font-weight: $font-weight-bold;
      margin-bottom: 0;
    }
    &__subtitle {
      font-weight: $font-weight-normal;
    }
    &__button {
      margin-top: 15px;
    }
    .btn {
      background-color: map_get($season, color-dark);
      color: $white;
      border-radius: $border-radius;
      font-size: 18px;
    }
    &--2 {
      @include media-breakpoint-up(lg) {
        .item__placeholder {
          left: auto;
          right: 0;
        }
      }
    }
    &--3 {
      @include media-breakpoint-up(lg) {
        .item__placeholder {
          left: 50%;
          right: 0;
          text-align: center;
          transform: translateX(-50%);
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .module-slider {
    .item {
      &__placeholder {
        position: relative;
        padding: 25px 0px 25px 40px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .module-slider {
    &__items {
      max-width: 100%;
      padding: 0;
    }
    .item {
      &__placeholder {
        //position: relative;
        //padding: 25px 0px 25px 25px;
        text-align: center;
        width: 100%;
        padding: 0;
        color: map_get($season, color-dark);
      }
      &__inner {
        padding: 15px 0;
      }
      &__title {
        font-size: 28px;
      }
    }
    .slick-slider  {
      .slick-dots {
        display: none !important;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .module-slider {
    .item {
      &__placeholder {
        text-align: center;
        width: 100%;
        padding: 0;
        color: map_get($season, color-dark);
      }
    }
    .slick-slider  {
      .slick-dots {
        display: none !important;
      }
    }
  }
}
