.table {
  .table-caption {
    @include sr-only();
  }
  .col {
    width: auto;
  }
  thead {
    th {
      border-top: 1px solid $light-grey;
      //border-bottom: 1px solid $light-grey;
      border-bottom: none;
      padding: 10px 20px;
      font-size: 10px;
      font-weight: $font-weight-normal;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  tbody {
    tr {
    }
    td {
      padding: 25px 20px;
      border-top: none;
      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }
    }
    + tbody {
      border-top: 1px solid $grey-bottom;
    }
  }
}
