.page-layout-2columns-right {
  .columns {
    .columns-inner {
      .column.main {
        order: 1;
      }
      .sidebar {
        &-main {
          order: 1;
        }
        &-additional {
          order: 2;
        }
        + .sidebar {
          margin-top: 20px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .page-layout-2columns-right {
    .columns {
      width: 100%;
      .columns-inner {
        .column.main {
          order: 2;
        }
        .sidebar {
          order: 1;
        }
      }
    }
  }
}