.account {
  background-color: $gray-pale;
  .breadcrumbs, .back-to-orders {
    display: none;
  }
  .columns {
    .main {
      padding-top: 25px;
      margin-bottom: 55px;
      @include media-breakpoint-up(lg) {
        padding-top: 55px;
      }
      .page-title-wrapper {
        padding: 0;
        color: $black;
        font-size: 24px;
        margin-top: 0;

        .page-title {
          display: inline-block;
          font-size: 24px;
          @include media-breakpoint-down(md) {
            font-size: 22px;
          }
        }
      }
      .block {
        color: $black;
        .block-title.orders {
          font-size: 24px;
        }
        &.block-dashboard-info,
        &.block-dashboard-addresses,
        &.block-addresses-default {
          .block-title {
            display: none;
          }
        }
        &.block-addresses-default {
          border-bottom: 1px solid #d2d2d2;
        }
        &.block-addresses-list {
          .block-title {
            font-size: $font-size-base;
            margin-bottom: 1rem;
          }
          + .block-addresses-list,
          + .actions-toolbar {
            display: none;
          }
        }
        &.block-reviews-dashboard {
          display: none;
        }

        .block-title {
          .action {
            font-size: small;
            font-weight: 400;
            margin-left: 15px;
            &.edit, &.view {
              text-transform: uppercase;
              font-size: 12px;
              font-family: $client-font-alt;
              letter-spacing: $client-font-alt-letter-spacing;
              font-weight: bold;
              line-height: 28px;
              float: right;
            }
          }
        }

        .block-content {
          .box {
            //margin-top: 5px;
            .type-block {
              font-size: 16px;
              font-weight: bold;
              line-height: 24px;
              display: inline-block;
            }
            .module-icon {
              margin-right: 5px;
              font-size: 20px;
            }
            .box-title {
              display: block;
            }
            &-container {
              position: relative;
              margin-bottom: 25px;
              background: white;
              padding: 15px 10px;
              .tel-info {
              }
              &.new-address {
                background: transparent;
                padding-left: 0;
                button {
                  font-size: 16px;
                  font-weight: bold;
                }
              }
            }
            &-newsletter, &-information {
              .box-title {
                display: inline-block;
                margin-bottom: 1rem;
                span {
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 24px;
                }
              }
            }
            &-title {
              span {
                font-weight: 400;
                font-size: 14px;
              }
            }
            &-content {
              font-size: 14px;
              line-height: 20px;
              p {
                font-size: inherit;
              }
              .telf {
              }
            }
            &-actions {
              //font-size: $font-size-base-custom;
              //position: absolute;
              //bottom: 11px;
              .action {
                &.edit {
                  font-size: 14px;
                  line-height: 19px;
                  text-decoration: underline;
                }
                &.delete {
                  color: $dark-grey;
                  position: absolute;
                  right: 10px;
                  font-size:0;
                  &:after {
                    content: '';
                    width: 15px;
                    height: 20px;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background: url("../images/icons/ico-trash-2.svg") center no-repeat;
                    cursor: pointer;
                  }
                }
              }
            }
            &-order-shipping-method, &-order-billing-method {
            }
          }
        }
        + .block {
          margin-top: 20px;
        }
        .empty {
          font-family: $client-font;
          font-size: $font-size-base-custom;
        }
      }
      .form {
        &.form-address-edit, &.form-edit-account {
          display: flex;
          flex-direction: column;
          flex: 1 0 100%;
          width: 60%;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
          .fieldset {
            .field {
              &:not(.choice) {
                label {
                  &:before {
                    display: none;
                  }
                  &:after {
                    content: "*";
                    margin-left: 5px;
                    display: inline-block;
                    color: inherit;
                    font-size: inherit;
                  }
                }
                .form-group {
                  margin-bottom: 15px;
                  input, select {
                    width: 100%;
                    border: solid 1px #dedede;
                    &:focus {
                      box-shadow: 0 0 0 2px #ededed;
                      border: solid 1px $black;
                    }
                    &.mage-error {
                      border-color: $pink;
                    }
                  }
                }
                &.taxvat {
                  .form-group {
                    .label {
                      padding-left: 0;
                      &:after {
                        display: none;
                      }
                    }
                  }
                }
                &.zip,
                &.city {
                  width: 49%;
                  float: left;
                }
                &.zip {
                  margin-right: 2%;
                }
                &.telephone {
                  clear: both;
                  .form-group {
                    .label {
                      padding-left: 0;
                      &:after {
                        display: none;
                      }
                    }
                  }
                }

                &.country {
                  label {
                    display: none;
                  }
                }

                &.country,
                &.region {
                  select {
                    height: 45px;
                    padding: 0.6rem 15px;
                    font-size: 1rem;
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;
                    font-weight: normal;
                  }
                }

                &.region {
                  clear: both;

                  label {
                    pointer-events: none;
                    padding-left: 0;
                    top: 0;

                    &:after {
                      display: none;
                    }
                  }

                  select {
                    &:not([disabled]) {
                      ~ label {
                        display: none;
                      }
                    }
                  }

                  input {

                  }
                }
              }
              &.choice {
                .custom-checkbox {
                  .custom-control-label {
                    padding-left: 12px;
                    padding-top: 4px;
                    font-weight: normal;
                    color: $black;
                    &::before, &:after {
                      width: 20px;
                      height: 21px;
                      left: -15px;
                      background-size: 21px;
                    }
                  }
                }
              }
            }
            &.password {
              @include media-breakpoint-up(md) {
                margin-top: 20px;
              }
            }
          }
          .actions-toolbar {
            display: flex;
            justify-content: flex-end;
            border-top: 1px solid $light-grey;
            padding-top: 20px;
            > div {
              margin-left: 10px;
              .btn {
                font-size: 16px;
                font-weight: normal;
                &.btn-primary {
                  font-weight: bold;;
                }
              }
            }
          }
        }
        &.form-edit-account {
          .actions-toolbar {
            margin-top: 40px;
          }
        }
        &.form-newsletter-manage {
          .block-content {
            .box-container {
              border: none;
              border-radius: 0;
              padding: 0;
              margin-bottom: 0;
              background: transparent;
              .custom-checkbox {
                .custom-control-label {
                  padding-left: 20px;
                  line-height: 1.7;
                  color: $black;
                  font-weight: 500;
                  &:before {
                    left: -15px;
                    width: 23px;
                    height: 23px;
                  }
                  &:after {
                    left: -15px;
                    width: 23px;
                    height: 23px;
                    background-size: 23px;
                  }
                }
              }
            }
          }
          .actions-toolbar {
            margin-top: 40px;
            margin-bottom: 1rem;
            .btn {
              font-size: 16px;
              font-weight: bold;
            }
          }
        }
      }
      .actions-toolbar {
        margin-top: 20px;
      }
      .message.info {
        color: #545454;
        background: transparent;
        border: none;
        text-align: left;
        font-size: 15px;
        line-height: 22px;
        margin: 20px 0;
        padding: 0;
        span {
          &::before {
            display: none;
          }
        }
      }
      .table {
        margin-top: 15px;
        margin-bottom: 45px;
        color: $black;
        @include media-breakpoint-down(md) {
          overflow: auto;
          width: 100%;
          display: block;
        }
        thead {
          th {
            font-family: $client-font;
            font-size: $font-size-base-custom;
            font-weight: bold;
            line-height: 15px;
            vertical-align: middle;
            border: 0;
            background: $quinary;
            padding: 21px 11px;
            &:first-child {
              padding-left: 23px;
              border-radius: 5px 0 0 5px;
            }
            &:last-child {
              padding-right: 23px;
              border-radius: 0px 5px 5px 0;
            }
          }
        }
        tbody {
          tr {
            &:nth-child(even) {
              td {
                background: rgba(245, 245, 245, 0.6);
                &:first-child {
                  border-radius: 5px 0 0 5px;
                }
                &:last-child {
                  border-radius: 0px 5px 5px 0;
                }
              }
            }
            td {
              font-size: 10px;
              font-family: $client-font-alt;
              letter-spacing: $client-font-alt-letter-spacing;
              line-height: 15px;
              white-space: nowrap;
              width: 15%;
              padding: 20px 11px;
              border: 0;
              vertical-align: middle;
              &:first-child {
                padding-left: 23px;
              }
              &:last-child {
                padding-right: 23px;
              }
              &.total {
                span {
                  font-size: 12px;
                }
              }
              &.qty {
                .items-qty {
                  margin-bottom: 0;
                }
              }
              &.pending, &.processing, &.pending_payment, &.pending_paypal, &.interactiv4_redsyspro_no_email, &.paypal_reversed, &.payment_review, &.complete {
                font-weight: $font-weight-bold;
                color: inherit;
              }
              &.canceled, &.closed, &.fraud, &.holded, &.paypal_canceled_reversal {
                font-weight: $font-weight-bold;
                color: $danger;
              }
              &.actions {
                white-space: nowrap;

                .action + .action {
                  &:before {
                    content: '|';
                    margin: 0 5px;
                  }
                }
                a {
                  text-transform: uppercase;
                  font-size: 8px;
                  font-family: $client-font-alt;
                  letter-spacing: $client-font-alt-letter-spacing;
                  font-weight: bold;
                }
              }
              &.shipping, &.name {
                width: 40%;
              }
            }
          }
        }
        tfoot {
          tr {
            th {
              background: $white;
            }
            th, td {
              font-family: $client-font;
              font-size: 12px;
              font-weight: normal;
              border: 0;
            }
            &:first-child {
              th, td {
                border-top: 1px solid $black;
                padding-top: 30px;
              }
            }
            &.grand_total {
              font-weight: bold;
              text-transform: uppercase;
            }
            td {
              padding-right: 23px;
            }
          }
        }
      }
    }
    .sidebar {
      padding-top: 25px;
      @include media-breakpoint-up(lg) {
        padding-top: 55px;
        margin-bottom: 55px;
      }
      .box-wellcome {
        display: none;
        @include media-breakpoint-down(md) {
          display: block;
        }
        p {
          font-size: 18px;
          color: $black;
          line-height: 18px;
          font-weight: bold;
        }
      }
      .items {
        background: transparent;
        .item {
          //line-height: 22px;
          background: $white;
          font-size: 14px;
          font-weight: 500;
          &:after {
            display: none;
          }
          &:before {
            content: '';
            width: 22px;
            height: 22px;
            background-repeat: no-repeat;
            background-size: 22px 22px;
            position: absolute;
            background-image: url("../images/icons/ico-card-2.svg");
          }
          a, strong {
            padding-left: 30px;
            color: #545454;
          }
          &.current {
            background: $white;
            font-weight: 900;
            color: $black;
            text-decoration: underline;
            @include media-breakpoint-down(md) {
              text-decoration: none;
              background: #f3f8fa;
            }
            a, strong {
              color: $black;
              font-weight: inherit;
            }
          }
          &.account-dashboard {
            &:before {
              background-image: url("../images/icons/ico-grid.svg");
            }
          }
          &.orders {
            &:before {
              background-image: url("../images/icons/ico-package.svg");
            }
          }
          &.customer-data {
            &:before {
              background-image: url("../images/icons/ico-customer.svg");
            }
          }
          &.customer-address {
            &:before {
              background-image: url("../images/icons/ico-pin.svg");
            }
          }
          /*&.billing-agreements {
            &:before {
              background-image: url("../images/icons/ico-card-2.svg");
            }
          }*/
          &.product-reviews {
            &:before {
              background-image: url("../images/icons/ico-chat-2.svg");
            }
          }
          &.newsletter-suscriptions {
            &:before {
              background-image: url("../images/icons/ico-settings.svg");
            }
          }
        }
        .nav-link-title {
          color: $green;
          font-size: 14px;
          margin-top: 10px;
          display: block;
          display: block;
          background: white;
          padding: 10px;
          @include media-breakpoint-down(md) {
            display: none;
          }
          &:first-child {
            margin-top: 0;
          }
          &:before {
            display: none;
          }
        }
      }
    }
  }
  &.review-customer-index {
    .reviews-wrapper {
      .review-block {
        background: white;
        padding: 15px;
        display: flex;
        align-items: flex-start;
        margin: 0 0 15px 0;
        width: 100%;
        .review-image {
          img {
            max-width: 100px;
            margin-right: 15px;
          }
        }
        .review-data {
          flex: 1 1 auto;
          overflow: hidden;
          > div {
            font-size: 14px;
            color: $black;
            margin: 0 0 5px 0;
            &.name {
              a {
                color: inherit;
              }
            }
            &.date {
              font-size: 13px;
              font-weight: bold;
              > span {
                font-weight: 400;
              }
            }
            &.summary {
              .rating-summary {
                .rating-result {
                  &:before {
                    color: #F4BF2B;
                  }
                  > span {
                    &:before {
                      color: #F4BF2B;
                    }
                  }
                }
              }
            }
            &.description {
              color: #4a4a4a;
            }
          }
        }
      }
    }
    .products-reviews-toolbar {
      .limiter {
        margin-left: 0;
        .limiter-options {
          margin: 0 10px;
        }
      }
    }
  }
  &.review-customer-view {
    .customer-review {
      color: $black;
      .product-media {
        .product-image-photo {
          display: block;
          margin: 20px 0;
          @include media-breakpoint-down(sm) {
            margin: 20px auto;
          }
        }
      }
      .product-info {
        .product-name {
          padding-left: 0;
        }
        .rating-average-label {
          display: none;
        }
      }
      .review-details {
        > div {
          margin: 5px 0;
          .date {
            font-weight: bold;
          }
        }
        .rating-summary {
          .rating-result {
            &:before {
              color: #F4BF2B;
            }
            > span {
              &:before {
                color: #F4BF2B;
              }
            }
          }
        }
      }
    }
    .actions-toolbar {
      margin: 1rem 0;
      .btn {
        font-size: 1rem;
      }
    }
  }

  &.myaccount-orders-index {
    .page-title-wrapper,
    .page-title {
      margin-bottom: 0;
    }
    .toolbar {
      margin: 0;
      .toolbar-amount,
      .limiter {
        display: none;
      }
      &.bottom {
        //margin: 1rem 0;
        .pager {
          width: 100%;
          text-align: center;

          .items {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .item {
            padding: 0;
            font-weight: normal;
            cursor: default;
            &:not(.current) {
              cursor:pointer;
            }

            &:not(.pages-item-next):not(.pages-item-previous) {
              border-radius: 50%;
              width: 2em;
              height: 2em;
              line-height: 1.75;
              background-color: $white;
              border: 1px solid;
              color: $grey;

              &.current {
                background-color: $green;
                border-color: $green;

                .page {
                  color: $white;
                  font-weight: $font-weight-normal;
                }
              }
            }

            + .item {
              margin-left: 10px;
            }

            a {
              display: block;
            }

            .action {
              color: $black;
            }
          }
        }
      }
    }
  }

  .orders-history.myaccount-orders {
    .table-order-items {
      border-collapse: separate;
      border-spacing: 0 10px;
      margin: 0 0 20px;

      thead {
        tr {
          th {
            background-color: $white;
            padding: 1rem;
            color: #545454;
            font-size: 13px;
            font-weight: normal;
            border-radius: 2px;
            &.created_at {
              @include media-breakpoint-down(lg) {
                display: none;
              }
            }
            &.total_price {
              @include media-breakpoint-down(lg) {
                display: none;
              }
            }
            &.shipping_tracking_link {
              @include media-breakpoint-down(lg) {
                display: none;
              }
            }
            &.invoice_link {
              @include media-breakpoint-down(lg) {
                display: none;
              }

              html[lang="it"] & {
                display: none !important;
              }
            }
          }
        }
      }
      tbody {
        tr.item-info {
          &:hover {
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
          }

          td {
            padding: 1.5rem 1rem;
            background-color: $white;
            font-size: 14px;
            color: $black;
            font-weight: normal;
            cursor: default;

            @include media-breakpoint-down(lg) {
              white-space: normal;
              font-size: 13px;
            }

            &.code {
              font-weight: bold;
              a {
                color: inherit;
                text-decoration: underline;
              }
            }
            &.created_at {
              @include media-breakpoint-down(lg) {
                display: none;
              }
            }
            &.total_price {
              @include media-breakpoint-down(lg) {
                display: none;
              }
            }

            &.logistic_status {
              font-weight: bold;
              text-transform: capitalize;
            }

            &.shipping_tracking_link {
              @include media-breakpoint-down(lg) {
                display: none;
              }

              a {
                display: flex;
                align-items: center;
                font-weight: $font-weight-medium;
                text-decoration: underline;

                .icon {
                  margin-right: 5px;
                }
              }
            }

            &.invoice_link {
              @include media-breakpoint-down(lg) {
                display: none;
              }

              a {
                display: flex;
                align-items: center;
                font-weight: $font-weight-medium;
                color: $black;

                .icon {
                  margin-right: 5px;
                }
              }

              html[lang="it"] & {
                display: none !important;
              }
            }

            &:last-child {
              text-align: right;
            }

            &:nth-last-child(2) {
              width: 100%; // forces cell to take all remaining space
            }

            &.view {
              a {
                color: $black;
                font-weight: bold;
                padding: 8px 25px;
                background-color: $white;
                border: 1.5px solid $green;
                text-decoration: none;
                transition: all .3s;

                &:hover {
                  color: $white;
                  background-color: $green;
                }
              }
            }
          }
        }
      }
    }
  }

  &.myaccount-orders-view {
    .h3, h3 {
      font-size: 24px;
      color: $black;
      margin-bottom: 1rem;
    }
    .myaccount-order_view {
      .block-header {
        position: relative;
        .block-status {
          p {
            font-size: 16px;
            line-height: 24px;
            color: $black;
            span {
              &:last-child {
                text-transform: capitalize;
                font-weight: bold;
              }
            }
          }
        }
        .block-promise-date {
          p {
            background-color: #e9f5f1;
            position: absolute;
            top: -5px;
            right: 0;
            padding: 10px 25px;
            line-height: 13px;
            font-size: 13px;
            color: #202020;
            font-weight: normal;
            &:before {
              content: '';
              width: 14px;
              height: 16px;
              display: inline-block;
              position: relative;
              left: 0;
              top: 2px;
              background: url("../images/icons/ico-calendar.svg") center no-repeat;
            }
            span {
              &:last-child {
                font-weight: bold;
              }
            }
            @include media-breakpoint-down(md) {
              position: relative;
              padding: 10px;
            }
          }
        }
      }

      .block-order {
        .block-header-products {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          color: $black;
          background: white;
          padding: 1rem 1rem 0;
          a {
            color: inherit;
            span {
              font-size: 13px;
              font-weight: 500;
            }
          }
          .block-product-title {
            p {
              font-size: 16px;
              font-weight: bold;
            }
          }
          .block-invoice {
            &:before {
              content: '';
              width: 18px;
              height: 18px;
              display: inline-block;
              position: relative;
              left: 0;
              top: 0;
              background: url("../images/icons/ico-download.svg") center no-repeat;
              cursor: pointer;
            }

            html[lang="it"] & {
              display: none !important;
            }
          }
          .block-print {
            &:before {
              content: '';
              width: 17px;
              height: 17px;
              display: inline-block;
              position: relative;
              left: 0;
              top: 0;
              background: url("../images/icons/ico-printer.svg") center no-repeat;
              cursor: pointer;
            }
          }
        }
        .block-products {
          border-bottom: 1px solid $black-two;
        }
      }

      .block-totals {
        margin-bottom: 2rem;
        .block-totals {
          background: white;
          .totals {
            padding: 1rem;
            width: 38%;
            margin-right: 0;
            margin-left: auto;
            @include media-breakpoint-down(md) {
              width: 100%;
            }
            li {
              font-size: 14px;
              line-height: 22px;
              color: $black;
              &:last-child {
                font-weight: bold;
                font-size: 20px;
                line-height: 26px;
                color: $black-two;

              }
              span {
                &:last-child {
                  float: right;
                }
              }
            }
          }
        }
      }
      .block-address,
      .block-payment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @include media-breakpoint-down(md) {
          display: block;
        }
        .block-shipping,
        .block-billing,
        .block-payment {
          width: 100%;
          margin: 0 20px 20px 0;
          display: block;
          h4 {
            font-size: $font-size-base;
            font-weight: bold;
            line-height: 24px;
            color: $black-two;
            margin: 10px 0;
            &:before {
              content: '';
              width: 20px;
              height: 20px;
              display: inline-block;
              position: relative;
              left: 0;
              top: 0;
              background: url("../images/icons/ico-pin.svg") center no-repeat;
              cursor: pointer;
              vertical-align: text-bottom;
            }
          }

          ul {
            background-color: $white;
            padding: 10px 20px;
            li {
              font-size: 14px;
              color: $black-two;
              line-height: 20px;
            }
          }
        }
        .block-billing {
          margin-right: 0;
          h4 {
            &:before {
              background: url("../images/icons/ico-text.svg") center no-repeat;
            }
          }
        }
      }

      .block-payment {
        width: 51%;
        float: left;
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        .block-payment {
          h4 {
            &:before {
              background: url("../images/icons/ico-card-2.svg") center no-repeat;
            }
          }
        }
      }

      .block-pickings {
        clear: both;
        margin-bottom: 2rem;
        .block-shipping-header {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          color: $black;
          background: white;
          padding: 1rem 1rem 0;
          .block-title {
            p {
              font-size: 16px;
              font-weight: bold;
            }
          }
          .block-shipping-method {}
          .block-tracking-link {
            font-weight: 500;
            font-size: 1rem;
            &:before {
              content: '';
              width: 14.2px;
              height: 12.5px;
              display: inline-block;
              position: relative;
              left: 0;
              top: 0;
              background: url("../images/icons/ico-truck.svg") center no-repeat;
              cursor: pointer;
            }
            p {
              display: inline-block;
            }
          }
        }
      }
      .table-order-items {
        margin-top: 0;
        margin-bottom: 0;
        //background-color: white;
        thead {
          tr {
            th {
              background: $white;
              padding: 5px 1rem;
              border-top: 1px solid #adada9;
              border-bottom: 1px solid #adada9;
              font-size: 13px;
              color: #808080;
              line-height: 17px;
              font-weight: normal;
              &:nth-child(4) {
                text-align: center;
              }
              &:last-child {
                text-align: right;
                padding-right: 1rem;
              }
            }
          }
        }
        tbody {
          tr {
            td {
              border-bottom: 1px solid #d2d2d2;
              background-color: $white;
              padding: 1rem;
              font-size: 15px;
              color: #000000;
              line-height: 21px;
              &:first-child {
                padding: 1rem;
              }
              &:nth-child(4), &:nth-child(5) {
                font-weight: bold;
              }
              &:nth-child(4) {
                text-align: center;
              }
              &:last-child {
                text-align: right;
                padding-right: 1rem;
              }
            }
            &:nth-child(even) {
              td {
                background-color: $white;
              }
            }
          }
        }
      }
    }
  }

  &.vault-cards-listaction {
    .my-credit-cards-wrapper {
      .my-credit-cards-inner {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .my-credit-card {
          width: 50%;
          background: white;
          border-radius: 2px;
          color: black;
          position: relative;
          padding: 12px;
          margin-bottom: 12px;
          font-size: 14px;
          position: relative;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
          .card-type {
            margin-right: 5px;
            img {
              max-width: 40px;
              height: auto;
            }
          }
          .card-number {
            font-weight: bold;
            line-height: 18px;
            > span {
              margin-right: 5px;
            }
          }
          .card-expire {
            font-weight: normal;
            line-height: 19px;
            display: block;
            margin-left: 45px;
            > span {
              margin-right: 5px;
            }
          }
          .actions {
            position: absolute;
            top: 10px;
            right: 10px;
            .action.delete {
              background: transparent;
              -webkit-appearance: none;
              border: none;
              color: #808080;
              font-size: 1rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .modal-popup {
    .modal-inner-wrap {
      min-width: 350px;
      width: 350px;
      @include media-breakpoint-down(sm) {
        min-width: auto;
        width: 90%;
      }

      .modal-header {
        display: none
      }
      .modal-content {
        padding-top: 20px;
        > div {
          height: auto !important;
          text-align: center !important;
          font-size: 20px;
          font-weight: bold;
          color: $black;
        }
      }
      .modal-footer {
        background-color: $white;
        border-top: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
          font-size: 15px;
          &.action-secondary  {
            font-weight: 500;
            color: $black;
          }
          &.action-primary {
            font-weight: bold;
          }
        }
      }
    }
  }

  .account-newsletter-text-up {
    color: $black;
    p {
      font-size: $font-size-base-alt;
      a {
        font-weight: $font-weight-bold;
        color: inherit;
      }
    }
  }
  .account-newsletter-text-down {
    color: $black-two;
    small {
      font-size: 11px;
      a {
        font-weight: $font-weight-bold;
        color: inherit;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .account {
    .page-title-wrapper {
      margin: 20px 0 15px 0;
      order: 2;
      width: calc(100% - 30px);
    }
    .sidebar {
      .block-collapsible-nav {
        border: 1px solid $black;
        background: $white;
        padding:0;
        border-radius: 2px;
        .block-collapsible-nav-title {
          color: $black;
          padding: 10px;
          &:after {
            content: "\f078";
            font-family: $font-icons;
            color: $black;
            float: right;
            font-size: 12px;
          }
          &.active {
            border-bottom: 1px solid $black;
            //box-shadow: 0 0 0 2px #ededed;
            &:after {
              content: "\f077";
            }
          }
        }
      }
    }
    .columns {
      order: 3;
    }
    .table {
      tbody {
        width: 100%;
        tr {
          td {
            width: 100%;
            border: 0 !important;
            &.shipping{
              width: 100%;
            }
          }
          &:nth-child(even) {
            td {
              &:first-child {
                border-radius: 0;
              }
              &:last-child {
                border-radius: 0;
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .account {
    .columns {
      .main {
        .block {
          .block-title {
            a.action {
              &.edit, &.view {
                margin-left: 0px;
              }
            }
          }
          .block-content {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            .box {
              padding: 0;
              &-container {
                margin-bottom: 15px;
              }
            }
            .table-wrapper {
              padding: 0;
            }
          }
        }
        .form {
          &.form-edit-account, &.form-newsletter-manage {
            .form-inner {
              .fieldset {
                .field.choice {
                  &:last-child {
                    margin-bottom: 30px;
                  }
                }
              }
            }
            .actions-toolbar {
              div {
                padding: 0;
              }
            }
          }
        }
      }
      .table {
        tbody {
          tr {

          }
        }
      }
    }
  }
}
