.checkout-cart-index {
  .page-wrapper {
    background-color: $gray-pale;
    .page-main {

      @include media-breakpoint-up(xl) {
        margin-top: 26px;
      }

      .cart-title {
        margin-top: 16px;
        margin-bottom: 16px;

        @include media-breakpoint-down(lg) {
          margin-top: 0;
          margin-bottom: 0;
        }

        .continue-shopping {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 10px 0;
          cursor: pointer;
          i {
            line-height: 0;
            color: $black;
            padding-right: 6px;
          }
          span {
            font-size: $font-size-base-custom;
            letter-spacing: 0.17px;
            color: $dark-grey;
            font-weight: $font-weight-medium;
          }
          &:hover {
            text-decoration: none;
          }
        }
        .page-title {
          color: black;
          padding-bottom: 14px;
          margin-bottom: 0;
          line-height: 30px;

          @include media-breakpoint-up(xl) {
            padding-top: 20px;
          }
        }
      }
    }
  }
  .cart-container {
    .cart-summary {
      order: 2;
      > .title {
        font-family: $client-font;
        margin-top: 33px;
        display: block;
      }
      .block {
        &[role=tablist] {
          cursor: pointer;
          outline: none;
        }
      }
      .cart-totals {
        padding-top: 15px;

        .table {
          border-bottom: 1px solid $grey-bottom;
        }
      }
      .cart-totals, .grand-total {
        background-color: $white;
        .table {
          font-size: $font-size-base-alt;
          color: $black;
          margin-bottom: 0;
          &-wrapper {
            padding: 0 26px;
          }
          tr {
            &.grand {
              th, td {
                background: $white;
                font-size: 20px;
                padding-top: 13px;
                padding-bottom: 13px;
              }
              th {
                span {
                  color: $dark-grey;
                  font-size: $font-size-base-custom;
                  &:after {
                    content: ':';
                  }
                }
              }
            }
            &:last-child {
              td, th {
                padding-bottom: 15px;
              }
            }
          }
          th {
            background: none;
            border: none;
            font-weight: $font-weight-normal;
            padding: 5px 0;
          }
          td {
            border: none;
            font-weight: $font-weight-normal;
            text-align: right;
            padding: 5px 0;
          }
        }
      }
      .block.discount {
        padding: 11px 26px 0;
        color: $black;
        background-color: $white;
        .block-content {
          border-bottom: 1px solid $grey-bottom;
          padding-bottom: 15px;
        }
        .title {
          outline: none;
          position: relative;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          strong {
            display: block;
            position: relative;
            font-weight: $font-weight-bold;
            font-size: 15px;
          }
          &:after {
            content: '';
            width: 16px;
            height: 16px;
            background-image: url("../images/icons/ico-plus-green.svg");
            background-repeat: no-repeat;
            background-size: 16px 16px;
          }
        }
        .content {
          margin-top: 15px;
          .btn {
            padding: .375rem 1rem;
            height: 100%;
            font-size: $font-size-base-alt;
            line-height: 1.4;
          }
          input {
            width: 100%;
            border-radius: $border-radius;
            border: 1px solid $grey;
            padding: 0 15px;

            &.mage-error {
              border-color: $danger;
            }
          }
        }
        &.active {
          .title {
            &:after {
              background-image: url("../images/icons/ico-minus-green.svg");
            }
          }
        }

        .coupon.input-group {
          display: grid;
          grid-column-gap: 10px;
          grid-template:
            'field button'
            'error error'
            /1fr     auto
          ;

          > input[type="text"] {
            grid-area: field;
          }

          > .input-group-append {
            grid-area: button;
          }

          > .mage-error {
            grid-area: error;
          }
        }
      }
      .methods {
        &.items {
          padding: 0 26px 28px;
          background-color: $white;

          @include media-breakpoint-down(lg) {
            margin-bottom: 0;
            padding-bottom: 15px;
          }

          .action {
            line-height: 20px;
            font-size: 20px;
            font-weight: $font-weight-medium;
          }
        }
      }
      .cart-trusted-shops {
        color: $black-two;
        font-size: $font-size-base-custom;
        text-align: center;
      }
    }
    .form-cart {
      order: 1;
      .table-wrapper {
        padding: 10px;
        background-color: $white;
        thead {
          th.subtotal {
            text-align: right;
          }
        }
        .table {
          margin-bottom: 0;
        }

        tbody {
          .item-info {
            display: flex;

            @include media-breakpoint-down(lg) {
              display: grid;
              grid-column-gap: 10px;
              grid-template:
                'item item actions'
                '.    qty  subtotal'
                /75px 1fr;

              > .actions { grid-area: actions }
              > .item { grid-area: item }
              > .qty { grid-area: qty }
              > .subtotal { grid-area: subtotal }
            }

            td {
              &:first-child {
                border-top: 0;
              }

              &:before {
                display: none;
              }

              &.col {
                display: flex;
                align-items: center;
              }
              &.actions {
                max-width: 40px;
                justify-content: center;

                @include media-breakpoint-down(lg) {
                  justify-self: right;
                  align-self: start;
                  padding: 0;
                }

                a {
                  color: $dark-grey;
                  &:hover {
                    color: $red;
                  }
                }
              }
              &.item {
                display: flex;
                align-items: flex-start;
                .product-item-photo {
                  margin-right: 10px;

                  @include media-breakpoint-up(xl) {
                    margin-right: 15px;
                  }
                }
                .product-item-details {
                  font-size: 15px;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  width: 180px;
                  .product-item-name {
                    display: block;
                    width: 100%;
                    line-height: 1.4;
                    a {
                      color: $black-two;
                    }
                  }
                  .message.error {
                    font-size: 12px;
                    line-height: 1.33;
                    color: $pink;
                    background: white;
                    bottom: 2px;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    padding: 4px;
                    @include media-breakpoint-down(lg) {
                      bottom: 0;
                      left:auto;
                    }
                    &:before {
                      content: "";
                      position: absolute;
                      top: -5px;
                      background-color: white;
                      border: solid $pink;
                      border-width: 0 1px 1px 0;
                      display: inline-block;
                      padding: 3px;
                      transform: rotate(-135deg);
                      -webkit-transform: rotate(-135deg);
                    }
                  }
                }
                .product-info__stock {
                  font-family: $client-font-alt;
                  font-size: 10px;
                  margin-top: 20px;
                  .label {
                    display: none;
                    font-weight: $font-weight-bold;
                    .in-stock {
                      color: $success;
                    }
                    .out-of-stock {
                      color: $danger;
                    }
                  }
                }
              }
              &.qty {
                justify-content: flex-start;

                @include media-breakpoint-down(lg) {
                  padding: 0;
                }

                .control {

                  &.qty {
                    input {
                      &:focus {
                        box-shadow: none;
                      }
                    }
                    input[type=number]::-webkit-outer-spin-button,
                    input[type=number]::-webkit-inner-spin-button {
                      -webkit-appearance: none;
                      margin: 0;
                    }
                    input[type=number] {
                      -moz-appearance:textfield;
                    }
                  }
                }
                input {
                  border-color: $light-grey;
                  text-align: left;
                  width: 40px;
                  //padding: 11px 27px 17px 26px;
                  height: 30px;
                  //font-size: 18px;
                  //font-weight: $font-weight-bold;
                }

                button {
                  border: none;
                  width: 20px;
                  height: 20px;
                  padding: 0;
                  cursor: pointer;
                  margin: 5px 0 5px auto;

                  span {
                    display: none;
                  }
                }
              }
              &.price, &.subtotal {
                vertical-align: middle;
                font-size: 12px;
                font-family: $client-font-alt;
                letter-spacing: $client-font-alt-letter-spacing;
                font-weight: $font-weight-bold;
              }
              &.subtotal {
                font-size: 20px;
                color: $black-two;
                line-height: 0.9;
              }
            }
           /* &.out-stock {
              .col.qty,
              .col.subtotal{
                display: none
              }
            }*/
          }
        }
      }
      .cart-message {
        display: flex;
        justify-content: center;
        height: 0;
        .message-text {
          font-size: $font-size-base-custom;
          color: $grey;
          border-radius: $border-radius;
          background-color: $quaternary;
          padding: 0 10px;
          height: 24px;
          line-height: 24px;
          transform: translateY(30px);
        }
      }
      .actions-container {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        .btn.continue {
          font-weight: $font-weight-bold;
          font-size: 10px;
          position: relative;
          &:after {
            content: '';
            background: url(../images/icons/ico-select-arrow-down.svg) no-repeat center;
            background-size: 16px;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            transform: rotate(90deg);
          }
        }
      }

      .product-image-photo {
        max-width: 75px;
      }
    }
  }
  .cart-empty {
    text-align: center;
    margin: 0 auto;
    font-family: $client-font-alt;
    letter-spacing: $client-font-alt-letter-spacing;
    font-size: 16px;
    font-weight: normal;
    padding: 48px;
    background-color: $white;
    i {
      .ico {
        &-shopping-cart {
          color: $light-grey;
          width: 48px;
          height: 45px;
        }
      }
    }
    .btn, &-info {
      margin: 10px 0;
    }
    .btn {
      a {
        color: $white;
        font-size: $font-size-base;
        line-height: 20px;
        vertical-align: super;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-info {
      color: $black;
      font-size: $font-size-base;
      line-height: 22px;
      letter-spacing: 0;
    }
    .page-title {
      text-align: center;
    }
  }
  .cart-more-products {
    @include media-breakpoint-up(xl) {
      margin-top: 40px;
    }

    div[data-content-type='row'] {
      > div {
        padding: 0 !important;
        margin: 0 !important;
      }
    }
    .title {
      padding-bottom: 28px;
    }
    .wishlist {
      .products {
        .product {
          margin-bottom: 10px;
          padding-right: 0;
          &-item-holder {
            display: grid;
            grid-template-areas: "a b c";
            grid-template-columns: 92px 1fr;
            align-items: center;
            padding: 15px;
            background-color: $white;
            .img-holder {
              img {
                width: 92px;
                height: 92px;
              }
            }
            .product-info {
              margin: 0 20px;
              .brand-name {
                padding: 0 0 5px;
              }
              .product-name {
                margin-bottom: 0;
              }
              .price-box {
                margin: 0 0 $product-card-price-margin-bottom;
                .price {
                  font-size: 20px;
                  line-height: 18px;
                }
              }
            }
          }
        }
      }
      .block-title {
        display: flex;
        color: $black-two;
        font-weight: $font-weight-bold;
        i {
          display: flex;
          margin-right: 5px;
          width: 19px;
          height: 17px;
        }
        span {
          font-size: 18px;
          line-height: 18px;
          &.title {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .totals-tax {
    display: none;
  }

  .jcf-select-qty {
    .jcf-hover {
      &:not(.jcf-selected) {
        background-color: transparent;

        @include media-breakpoint-up(xl) {
          background-color: $qty-select-hover-background;
          color: inherit;
        }
      }
    }
  }

  .salesrule-coupon {
    background-color: $white;
    padding-left: 26px;
    padding-right: 26px;

    @include media-breakpoint-down(lg) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

@include media-breakpoint-down(md) {
  .checkout-cart-index {
    .column.main {
      .cart-container {
        position: relative;

        .cart-summary {
          @include make-col(12);
          margin-top: 15px;
          transform: none;
          > .title {
            font-size: $font-size-base;
          }
          .cart-totals {
            margin-top: 0;
            margin-left: $grid-gutter-width / -2;
            margin-right: $grid-gutter-width / -2;
          }
          .block.discount {
            margin-left: $grid-gutter-width / -2;
            margin-right: $grid-gutter-width / -2;
          }
        }
        .form-cart {
          @include make-col(12);
          position: unset;
        }
        .cart-message {
          height: auto;
          .message-text {
            transform: translateY(0);
            padding: 0 30px;
          }
        }
        .actions-container {
          position: absolute;
          bottom: 0;
          width: calc(100% - 30px);
          display: block;
          .btn.checkout {
            margin-top: 20px;
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .checkout-cart-index {
    .column.main {
      margin-bottom: 0;

      .cart-container {
        .cart-summary {
          .block.discount {
          }
        }
        .form-cart {
          .table-wrapper {
            .table {
              thead {
                display: none;
              }
              tbody {
                display: block;

                + tbody {
                  margin-top: 10px;
                  padding-top: 10px;
                }
                tr {
                  border-top: 0;
                }
                .item-info {
                  td {
                    &.item {
                      position: relative;
                      padding: 0;

                      .product-item-photo {
                        img {
                          height: auto;
                        }
                      }
                      .product-item-details {
                        width: auto;
                        float: left;
                        max-width: 140px;
                      }
                    }

                    &.price {
                      box-sizing: border-box;
                      display: block;
                      float: left;
                      white-space: nowrap;
                      width: 25%;
                      font-size: 13px;
                      text-align: left;
                      padding: 20px 8px;
                      &:before {
                        content: attr(data-th);
                        display: block;
                        padding-bottom: 10px;
                      }
                    }
                    &.subtotal {
                      padding: 0;

                      .price {
                        display: block;
                        width: 100%;
                        text-align: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .cart-message {
          display: block;
          text-align: center;
          .message-text {
            padding: 0 10px;
          }
        }
      }
    }
  }
}

.checkout-methods-items {
  .checkout-cart-index .cart-container .cart-summary & {
    .grand-total {
      border-top: 1px solid $light-grey;

      @include media-breakpoint-down(lg) {
        padding-top: 15px;
      }

      .table-wrapper {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    position: sticky;
    bottom: 0;
    margin-left: $grid-gutter-width / -2;
    margin-right: $grid-gutter-width / -2;

    &.sticky {
      box-shadow: 0 -3px 5px 1px rgba(125, 125, 125, .3);
      padding-bottom: 20px;
    }

    .checkout-cart-index .cart-container .cart-summary & {
      .grand-total {
        .totals {
          .mark,
          .amount {
            padding-top: 0;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
