.cms {
  &-home {
    div[data-content-type='row'] {
      > div {
        padding: 0 !important;
        margin: 0 !important;
      }
    }
    .page-main {
      max-width: inherit;
      .page-title-wrapper {
        display: none;
      }
      .column.main {
        margin-bottom: auto;
      }
      .column.main {
        @include unstyle-block-divs();
        /* benefits section */
        .benefits-home-section {
          background-color: $gray-pale;
          position: relative;
          padding: 30px 0;
          .container {
            .benefits-home-holder {
              display: flex;
              flex-flow: wrap;
              position: relative;
              align-items: center;
              justify-content: space-between;
              .benefit-item {
                padding: 10px 5px;
                [class*="icon"] {
                  display: block;
                  text-align: center;
                  padding: 5px 0;
                  font-size: 35px;
                  color: map_get($season, color);
                  width: 100%;
                  margin: auto;
                  height: 45px;
                }
                .benefit-text {
                  text-align: center;
                  color: $black;
                  font-size: 18px;
                  font-weight: $font-weight-bold;
                  line-height: $line-height-small;
                  p {
                    font-weight: $font-weight-normal;
                  }
                }
              }
            }
          }
        }
        /* categories section */
        .categories-home-section {
          background-color: $white;
          position: relative;
          padding: 30px 0;

          @include media-breakpoint-down(lg) {
            padding: 20px 5px 10px;
            margin-top: 15px;
            margin-left: -15px;
            margin-right: -15px;
          }

          .container {
            .categories-home-holder {
              display: flex;
              flex-flow: wrap;
              position: relative;
              align-items: baseline;
              justify-content: space-between;
              .category-item {
                padding: 0 10px;
                margin-top: 10px;

                @include media-breakpoint-down(lg) {
                  width: (100% / 3);
                }

                a {
                  color: $black;
                  .img-thumb {
                    display: block;
                    img {
                      height: auto;
                      max-width: 100%;
                      margin: auto;
                      display: block;
                    }
                  }
                  .category-text {
                    text-align: center;
                    color: $black;
                    font-weight: $font-weight-medium;
                    margin-top: 10px;

                    @include media-breakpoint-down(sm) {
                      font-size: $font-size-base-alt;
                      line-height: $line-height-smaller;
                    }
                  }
                }
              }
            }
          }
        }
        /* special categories section */
        .special-categories-home-section {
          background-color: $white;
          position: relative;
          padding: 30px 0;

          @include media-breakpoint-down(lg) {
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
          }

          .container {
            .special-categories-home-holder {
              display: flex;
              flex-flow: wrap;
              position: relative;
              align-items: center;
              justify-content: space-between;
              .slick-section {
                width: 100%;
                .slideset-categories {
                  .slick-slide {
                    padding: 0 10px;
                  }
                  .special-category-item {
                    float: left;
                    margin-top: 5px;

                    a {
                      color: $black;
                      outline: none;
                      .img-thumb {
                        display: block;
                        margin-bottom: 18px;
                        img {
                          height: auto;
                          width: 100%;
                        }
                      }
                    }

                    .btn {
                      height: auto;
                    }

                    .special-category-text {
                      text-align: left;
                      color: $black;
                      font-size: 18px;
                      font-weight: $font-weight-bold;
                      line-height: $line-height-small;
                      > strong {
                        margin-bottom: 5px;
                        display: block;
                      }
                      > p {
                        font-size: 15px;
                        font-weight: $font-weight-normal;
                        line-height: $line-height-smaller;
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        margin-bottom: 25px;
                      }
                    }
                    button {
                      font-size: 15px;
                      font-weight: $font-weight-medium;
                      line-height: $line-height-smaller;
                    }
                  }
                }
              }
            }
          }
        }
        /* app claim section */
        .app-home-section {
          background-color: $gray-pale;
          position: relative;
          padding: 30px 0;
          .container {
            .app-home-holder {
              display: flex;
              flex-flow: wrap;
              position: relative;
              align-items: center;
              justify-content: space-between;
              .app-home-text {
                background-color: map_get($season, color);
                padding: 30px;
                max-width: 50%;
                color: map_get($season, app-home-text-color);
                float: left;
                z-index: map_get($z-index, app-home-text);
                position: relative;
                margin: 65px 0;

                @include media-breakpoint-down(sm) {
                  max-width: 100%;
                  margin: 0;
                }
                > * {
                  display: block;
                  padding: 4px 0;
                }
                > p {
                  font-size: $h3-font-size;
                  font-weight: $font-weight-bold;
                  line-height: $headings-line-height;
                  @include media-breakpoint-down(sm) {
                    font-size: 22px;
                  }
                }
                > small {
                  font-size: $font-size-base;
                  font-weight: $font-weight-normal;
                  line-height: $line-height-small;
                  @include media-breakpoint-down(sm) {
                    font-size: 15px;
                  }
                }
              }
              .download-app {
                img {
                  margin-bottom: 5px;
                }
              }
              .rating-stars-app {
                margin-top: 10px;
                margin-bottom: 10px;
                .rating-star-white{
                  display: inline-block;
                  background-color: white;
                  width: 19px;
                  height: 18px;
                  -webkit-mask: url("../images/icons/ico-star-full.svg") no-repeat 50% 50%;
                  mask: url("../images/icons/ico-star-full.svg") no-repeat 50% 50%;
                  -webkit-mask-size: cover;
                  mask-size: cover;
                }
              }
              .app-home-image {
                position: absolute;
                right: 0;
                z-index: map_get($z-index, app-home-image);
                background-image: url("../images/home/app.png");
                width: 724px;
                height: 395px;
                background-size: cover;
                @include media-breakpoint-down(sm) {
                  position: initial;
                  width: 100%;
                  height: 180px;
                }
              }
            }
          }
        }
      }
    }
  }
  &-index-index{
  }
  &-page-view {
    color: $black;
    background-color: #f9f9f9;
    .header__content-wrapper {
      @include container;
    }
    .breadcrumbs {
      display: none;
    }
    .columns {
      @include container;
      padding: 0;
      @include media-breakpoint-up(xl) {
        padding: 0 15px;
      }
      .column.main {
        display: block;
        margin:0;
        @include unstyle-block-divs;
        .inner-content {
            padding: 5% 15%;
            @include media-breakpoint-down(sm) {
                padding: 2rem 10px;
            }
            .title {
              font-size: 24px;
              margin-bottom: 2rem;
              line-height: 30px;
            }
            .subtitle {
              font-size: $font-size-base-alt;
              line-height: 24px;
              &-2 {
                font-size: $font-size-base-alt;
              }
              &-3 {
                font-size: $font-size-base-alt;
                font-weight: $font-weight-normal;
              }
            }
            a{
              color: inherit;
              text-decoration: underline;
            }
            p, li, address {
              font-size: $font-size-base-alt;
            }
            ul{
              li{
                  list-style: disc;
                  margin-left: 20px;
              }
            }
        }
        .terms-anchors {
            font-size: $font-size-base-alt;
            font-weight: $font-weight-medium;
            margin-bottom: 1rem;
            line-height: 1.6;
            > span {
                display: block;
                a {
                    color: $green;
                }
            }
        }
        .faqs-inner {
          padding: 5% 25% 0;
          @include media-breakpoint-down(sm) {
            padding: 2rem 10px;
          }
          .faqs-title {
            text-align: center;
            margin-bottom: 3rem;
          }
          .main-content {
            position: relative;
            .section {
              .faqs-subtitle {
                font-size: 18px;
                line-height: $line-height-base;
                border-bottom: 1px solid $light-grey;
                padding-bottom: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                padding-left: 0;
                [class*="-icon"] {
                  color: inherit;   
                  margin-right: 5px;
                  padding-right: 5px;
                }
                &:after {
                  content: '';
                  background: url("../images/icons/ico-chevron-down.svg") center no-repeat;
                  width: 1rem;
                  height: 1rem;
                  display: block;
                  position: absolute;
                  right: 0;
                  margin: -15px 0px;
                  @include transition(all, 0.3s);
                }
              }
              &.active {
                .faqs-subtitle {
                      border-bottom: 1px solid transparent;
                        &:after {
                        background: url("../images/icons/ico-chevron-up.svg") center no-repeat;
                      }
                  }
              }
              .collapse {
                display: none;
                &.active {
                  border-bottom: 1px solid $light-grey;
                  margin-bottom: 10px;
                  display: block;
                  padding-bottom: 10px;
                  .faqs-subtitle-2 {
                    font-size: $font-size-base;
                    line-height:2.38;
                    font-weight: $font-weight-medium;
                    color: $green-dark;
                    cursor: pointer;
                    @include media-breakpoint-down(sm) {
                        font-size: 15px;
                        line-height: $line-height-base;
                        margin-bottom: 1rem;
                    }
                  }
                  .respuesta {
                    display: none;
                    &.active {
                        display: block;
                    }
                    p,
                    ul {
                      font-size: $font-size-base-alt;
                      @include media-breakpoint-down(sm) {
                          font-size: 15px;
                          line-height:1.73;
                      }
                    }
                    .table-carriers {
                      thead {
                        th {
                          text-align: center;
                          padding: 10px 5px;
                          font-size:15px;
                          font-weight: bold;
                        }
                      }
                      tbody {
                        td {
                          text-align: center;
                          padding: 10px 5px;
                          font-size: 14px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .compromise-inner {
          .banner {
            //margin-bottom: 0;
            position: relative;
            h1 {
              position: absolute;
              color: white;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: 42px;
              @include media-breakpoint-down(lg) {
                font-size: 28px;
                width: 60%;
                text-align: center;
              }
            }
            img {
              max-width: 100%;
            }
          }
          .text-holder {
              padding: 5% 25%;
              text-align: center;
              @include media-breakpoint-down(sm) {
                  padding: 20px 10px;
              }
              p {
                  font-size: 18px;
                  font-weight: $font-weight-medium;
                      @include media-breakpoint-down(sm) {
                      font-size: $font-size-base;
                  }
              }
          }
          .partner-section {
            padding: 0 25% 5%;
            text-align: center;
            @include media-breakpoint-down(sm) {
                padding: 0 10px 20px;
            }
            .subtitle {
                font-size: 24px;
                line-height: $line-height-small;
                color: $green;
                @include media-breakpoint-down(sm) {
                    font-size: 22px;
                }
            }
            .partner-logo-holder {
                margin: 10px auto;
            }
  
            .compromiso-banner {
                margin: 0 auto 2rem;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    img {
                      max-width: 100%;
                    }
                }
            }
          } 
        }
        .whoweare-inner {
          .banner {
            position: relative;
            h1 {
              position: absolute;
              color: white;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: 42px;
              @include media-breakpoint-down(lg) {
                font-size: 28px;
                width: 60%;
                text-align: center;
              }
            }
            img {
              max-width: 100%;
            }
          }
          .whoweare-subtitle {
            font-size: 28px;
            text-align: center;
            padding: 50px 0 20px 0;
            @include media-breakpoint-down(lg) {
              font-size: 22px;
            }
          }
          .values {
            @include media-breakpoint-down(lg) {
                padding: 0 10px;
            }
            .cont-values {
              display: flex;
              margin: 0 auto;
              justify-content: space-around;
              align-items: flex-start;
              @include media-breakpoint-down(sm) {
                  display: block;
              }
              .item {
                width: 25%;
                padding:10px 0;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
                .image-holder img {
                    display: block;
                    margin: auto;
                }
                .info {
                  text-align: center;
                  .title {
                      font-size: 22px;
                      line-height: $line-height-small;
                      letter-spacing: 5.8px;
                      font-weight: $font-weight-bold;
                      margin: 10px 0;
                      text-transform: uppercase;
                  }
                  .subtitle {
                      font-size: $font-size-base;
                      margin: 10px 0;
                      font-weight: $font-weight-medium;
                  }
                }
              }
            }
          }
          .reasons {
            @include media-breakpoint-down(lg) {
                padding: 0 10px;
            }
            .cont {
              display: flex;
              margin: 0 auto;
              justify-content: space-around;
              align-items: stretch;
                  @include media-breakpoint-down(sm) {
                  display: block;
              }
              .item {
                width: 33.3%;
                padding: 20px;
                background: $white;
                margin-right: 1%;
                @include media-breakpoint-down(sm) {
                  width: 100%;
                  margin: 10px 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                .image-holder {
                  [class*="-icon"] {
                      display: block;
                      text-align: center;
                      color: map_get($season, color);
                      font-size: 6rem;
                  }
                }
                .info {
                  text-align: center;
                  p {
                      font-size: 1.25rem;
                      font-weight: $font-weight-bold;
                      margin: 10px 0;
                  }
                }
              }
            }
          }
          .and-more {
            @include media-breakpoint-down(lg) {
                padding: 0 10px;
            }
            .cont {
              display: flex;
              margin: 0 auto;
              justify-content: space-around;
              align-items: flex-start;
              flex-wrap: wrap;
              @include media-breakpoint-down(sm) {
                  display: block;
              }
              .item {
                width: 33.3%;
                padding: 10px;
                margin: 10px 0;
                text-align: center;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
                [class*="-icon"] {
                    color: map_get($season, color);
                    font-size: 2rem;                                 
                }
                .subtitle {
                    font-weight: $font-weight-bold;
                    font-size: 1.25rem;
                    margin: 10px 0;
                }
                p {
                    font-size: $font-size-base-alt;
                }
              }
            }
          }
          .reviews {
            @include media-breakpoint-down(lg) {
                padding: 0 10px;
            }
            .cont {
              display: flex;
              flex-flow: wrap;
              text-align: center;
              @include media-breakpoint-down(sm) {
                  display: block;
              }
              .reviews-inner {
                  display: flex;
                  justify-content: space-between;
                  align-items: stretch; 
                  @include media-breakpoint-down(sm) {
                      display: block;
                  }
                  .review-card {
                      background: $white;
                      width: 33.33%;
                      padding: 15px 30px;
                      margin-right: 1%;
                      @include media-breakpoint-down(sm) {
                          width: 100%;
                          margin: 10px 0;
                      }
                      &:last-child {
                          margin-right: 0;
                      }
                      .rating-stars {
                        @include rating-stars;
                        display: inline-table;
                        .starfilled {
                           //width: 80%;
                            //margin: 0 1px;
                        }
                      }
                      span {
                        display: block
                      } 
                      .review-text {
                        font-size: 15px;
                        font-weight: $font-weight-medium;
                        margin-bottom: 15px;
                      }
                      .review-user,
                      .review-date {
                        font-size: $font-size-base-alt;
                        font-weight: $font-weight-bold;
                      }
                  }
              }
              .trusted-shops {
                margin: auto;
                padding: 10px;
                .ico-circle_check {
                  color: $green;
                  font-size: $font-size-base;
                }
                .trusted-text {
                  font-size: 13px;
                  font-weight: $font-weight-medium;
                }
                a {
                  .trusted-image {
                      background-image: url("../images/cms_pages/trusted.png");
                      width: 89px;
                      height: 37px;
                      display: inline-block;
                      background-size: cover;
                  }
                }
                .btn {
                    display: block;
                    margin: 25px auto;
                    font-size: 15px;
                    font-weight: $font-weight-medium;
                    width: 70%;
                    text-decoration: none;
                    color: $black;
                    
                }
              } 
            }
          }
          .our-history {
            @include media-breakpoint-down(lg) {
                padding: 0 10px;
            }
            .contact {
              display: flex;
              margin: 0 auto;
              justify-content: center;
              align-items: stretch;
              flex-wrap: wrap;
              text-align: center;
              @include media-breakpoint-down(md) {
                  justify-content: space-evenly;
              }
              @include media-breakpoint-down(sm) {
                  display: block;
              }
              .text-intro {
                  padding: 0px 20%;
                  @include media-breakpoint-down(md) {
                      padding: 0;
                  }
              }
              .item {
                  width: 25%;
                  padding:20px 0;
                  margin: 0 20px;
                      @include media-breakpoint-down(sm) {
                      width: 100%;
                      margin: 0;
                  }
                  .image-holder img{
                      display: block;
                      margin: auto;
                  }
                  .name {
                      font-size:1.25rem;
                      font-weight: $font-weight-bold;
                      margin-top: 25px;
                      [class*="-icon"] {
                        color: $white;
                        background-color: map_get($season, color);
                        padding: 0 2px;
                        margin-right: 5px;
                        border-radius: 4px;
                      }
                  }
                  .role {
                      font-weight: $font-weight-bold;
                  }
                  .info {
                      font-size: $font-size-base-alt;
                  }
              }
            }
          }
        }
        .atc-holder {
          text-align: center;
          margin: 2rem 0;
          padding: 0 25%;
          .title-atc {
              font-size: $font-size-base;
          }
          p {
              font-size: $font-size-base-alt;
              margin: 1rem 0;
              padding: 0 5rem;
              b {
                  color: $green;
              }
              @include media-breakpoint-down(sm) {
                  padding: 0 10px;
              }
          }
        }
      }
    }
  }
  &-no-route {
    background-color: $gray-pale;
    .page-main {
      text-align: center;
      .page-title-wrapper {
          padding: 50px 20px 20px;
          &:before{
              content: "";
              position: relative;
              background-image: url("../images/no-route/error.svg");
              width: 114px;
              height: 93px;
              display: block;
              background-size: contain;
              margin: auto;

          }
          .page-title {
              margin-bottom: 0;
              color: #333333;
              font-size: 50px;
          }
      }
      .columns {
        padding: 0 20px 50px;
        .main {
          max-width: 100%;
          flex: 0 0 100%;
          display: block;
          p {
            font-size: 18px;
            color: $black;
          }
          a {
              margin: 20px auto 0;
              font-size: $font-size-base;
              font-weight: $font-weight-bold;
              text-decoration: none;
          }
        }
        .sidebar {
          display:none;
        }
      }
    }
  }

  &-page-view {
    .page-main {
      .main {
        @include unstyle-block-divs();
        .landing-ofertas{
          //@include container();
          //padding: 0;
          .inner {
            @include unstyle-block-divs();
            .promo-top-section {
              .container {
                padding: 0;
                .promo-top-holder {
                    $background-color: map_get($season, color);
                    $background-image: map_get($season, promo-top-section-background-image);

                    padding: 6px 6px 8px;
                    text-align: center;
                    background: $background-color url($background-image);
                    color: $white;
                    font-weight: $font-weight-bold;
                    @include media-breakpoint-down(sm) {
                        font-size: 13px;
                    }
                }
              }
            }
            .banner{
              h1 {
                  margin: 0;
                  img {
                    max-width: 100%;
                  }
              }
            }
            .tabs{
              @include container();
              padding: 0;
              position: relative;
              @include media-breakpoint-down(sm) {
                margin-bottom: 15px;
                position: relative;
              }
              ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                padding: 0;
                margin: 0;
                @include media-breakpoint-down(sm) {
                    padding: 0 10px;
                    touch-action: auto;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    justify-content: left;
                }
                li{
                  margin: 20px 0 0 10px;
                  display: flex;
                  align-items: center;
                  font-size: $font-size-base-alt;
                  width: 100%;
                  a{
                    border-radius: 2px;
                    background-color: $white;
                    border: 1px solid #eae9e9;
                    color: inherit;
                    padding: 10px 20px;
                    outline: none;
                    width: 100%;
                    text-align: center;
                    text-decoration: none;
                    height: 100%;
                    @include media-breakpoint-down(sm) {
                        width: 130px;
                        height: auto;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    img {
                        display: block;
                        margin: auto;
                    }
                    &.active {
                        border: 1px solid $green;
                        cursor: pointer;
                        font-weight: $font-weight-bold;
                        text-decoration: none;
                    }
                    @include media-breakpoint-up(xl) {
                        &:hover {
                            border: 1px solid $green;
                            cursor: pointer;
                            font-weight: $font-weight-bold;
                            text-decoration: none;
                        }
                    }
                  }
                  &:first-child {
                      margin-left: 0;
                  }
                }
              }

              &.sticky {
                position: fixed;
                width: 100%;
                background: $body-bg;
                top: 0;
                left: auto;
	              z-index: map_get($z-index, offers-landing-tabs-sticky);
                animation: stickyAnim .5s ease-out;
                ul {
                  padding: 10px;
                  li {
                      margin-top: 0;
                  }
                }
              }
              @keyframes stickyAnim {
                0%   {top:-120px;}
                100% {top:0;}
              }
            }
            .section{
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              position: relative;
              @include media-breakpoint-up(xl) {
                  margin-top: 50px;
              }
              h2 {
                margin-top: 1rem;
              }
              img {
                max-width: 100%;
              }
              .descuentos-cont{
                width: 100%;
                @include media-breakpoint-down(sm) {
                    margin-bottom: 20px;
                    padding: 0 5px;
                }
                .fila{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    &:last-child {
                      margin-bottom: auto;
                    }
                    a {
                        padding-right: 10px;
                        &:last-child {
                            padding-right: 0;
                        }
                        img {
                          max-width: 100%;
                        }
                    }
                    @include media-breakpoint-down(sm) {
                        flex-wrap: wrap;
                        margin-bottom: auto;
                        a{
                            width: 50%;
                            padding: 5px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
              }
              .cuatro-proms{
                display: flex;
                width: 50%;
                justify-content: space-between;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    padding: 0 5px;
                    margin-bottom: 10px;
                }
                .column{
                    @include media-breakpoint-down(sm) {
                        padding: 0 5px;
                    }
                    a{
                        padding-bottom: 7px;
                        display: flex;
                        @include media-breakpoint-down(sm) {
                          padding-bottom:10px;
                          display: block;
                        }
                        &:last-child {
                            padding-bottom: 0;
                          img {
                            height: 225px;
                            @include media-breakpoint-down(sm) {
                              height: auto;
                            }
                          }
                        }
                    }
                    &.middle {
                        padding-left: 7px;
                        padding-right: 7px;
                        @include media-breakpoint-down(sm) {
                            padding: 0 5px;
                        }
                    }
                }
              }
              .big{
                  display: flex;
                  width: 50%;
                  justify-content: space-between;
                  @include media-breakpoint-down(sm) {
                      width: 100%;
                      padding: 0 10px;
                      margin-bottom: 10px;
                  }
              }
              .top-marcas{
                margin-top: 50px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                @include media-breakpoint-down(sm) {
                    margin: 15px 0;
                }
                h3{
                    width: 100%;
                    text-align: center;
                    font-size: 22px;
                    margin: 1rem 0;
                }
                .cont-marcas{
                  display: flex;
                  justify-content: space-around;
                  width: 100%;
                  flex-wrap: wrap;
                  @include media-breakpoint-down(md) {
                      padding: 0 10px;
                      touch-action: auto;
                      overflow-x: scroll;
                      overflow-y: hidden;
                      justify-content: left;
                      display: -webkit-box;
                  }
                  a {
                    box-sizing: border-box;
                    border-radius: 50%;
                    height: 120px;
                    width: 120px;
                    border: 1px solid #EBE7E4;
                    background-color: $white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    @include media-breakpoint-down(md) {
                      height: 100px;
                      width: 100px;
                      margin-right: 10px;
                      img {
                          width: 75%;
                      }
                    }
                  }
                }
              }
              .recommends-packs-section {
                //background-color: $body-bg;
                margin: 0 0 50px;
                padding: 0;
                @include media-breakpoint-down(lg) {
                    overflow: hidden;
                }
                @include media-breakpoint-down(sm) {
                    margin: 0 0 15px;
                }
              }
              &#novedades {
                @include media-breakpoint-down(sm) {
                    padding: 0 5px;
                    h2 {
                        padding: 0 5px;
                    }
                }
                .fila {
                  display: flex;
                  justify-content: space-between;
                  flex-basis: 100%;
                  margin-bottom: 10px;
                  @include media-breakpoint-down(sm) {
                    flex-wrap: wrap;
                    margin-bottom: 0;
                    a{
                      flex-basis: 50%;
                      padding: 5px;
                      img{
                          width: 100%;
                      }
                    }
                  }
                }
              }
            }
            .seo-text {
              font-size: 13px;
              line-height: 1.62;
              margin: 1rem 0 4rem;
              @include media-breakpoint-down(sm) {
                  padding: 0 10px;
              }
            }
          }

          .nosto_element {
            .container {
              margin-top: 25px;
              padding-left: 5px;
              padding-right: 0;

              @include media-breakpoint-up(xl) {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }

  &-naturitas-talks {
    .head {
      @include media-breakpoint-down(md) {
        padding: 0;
      }
      img {
        width: 100%;
        margin: 10px auto;
      }
    }

    .container {
      .col-left {
        float:left;
        width: 37.5%;
        @include media-breakpoint-down(md) {
          width: 100%;
          margin: 10px 0px;
        }
        h2 {
          font-size: 1.2rem;
          padding:0;

        }
        p {
          margin-bottom: 10px;
        }
      }

      .col-midle {
        float: left;
        width: 37.5%;
        padding: 0 10px;
        @include media-breakpoint-down(md) {
          width: 100%;
          margin: 10px 0px;
          padding: 0;
        }
      }

      .col-right {
        float: left;
        width: 25%;
        @include media-breakpoint-down(md) {
          width: 100%;
          margin: 10px 0px;
        }
        .address-item {
          .map-section{
            iframe {
              width: 100%;
              height: 303px;
            }
          }
          address {
            span {
              display: block;
              font-size: $font-size-base-alt;
              font-weight: $font-weight-medium;
            }
          }
        }
      }

      .images-bottom  {
        margin:40px 0;
        display: table;
        width: 100%;
        img {
          width: 32.3%;
          float: left;
          margin-right: 1.5%;
          &:last-child {
            margin-right: 0;
          }
          @include media-breakpoint-down(md) {
            width: 100%;
            float: none;
            margin: 10px 0;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .cms {
    &-home {
      .page-main {
        .container {
          max-width: 100%;
          padding: 0;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .cms {
    &-home {
      .page-main {
        .column.main {
          .categories-home-section {
            .container {
              .categories-home-holder {
                justify-content: flex-start;
                .category-item {
                  padding: 0 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .cms {
    &-home {
      .page-main {
        .column.main {
          .benefits-home-section {
            display: none;
          }
          .app-home-section {
            .container {
              .app-home-holder {
                .app-home {
                  &-text {
                    order: 2;
                    width: 100%;
                    text-align: center;
                    padding: 20px;
                  }
                  &-image {
                    position: inherit;
                    order: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .cms {
    &-page-view {
      .column.main {
        .image-container {
          height: 260px;
        }
      }
    }
  }
}

/*
Reviews section
Used in home and in categories
*/
.reviews-home-section {
  background-color: $gray-pale;
  position: relative;
  padding: 30px 0;

  .container {
    h2 {
      text-align: center;
      margin-bottom: 10px;
    }
    .reviews-home-holder {
      display: flex;
      flex-flow: wrap;
      position: relative;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      .general-average {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        color: $black;
        font-size: 25px;
        @include media-breakpoint-down(sm) {
          font-size: 23px;
        }
        .average-number {
          font-weight: $font-weight-bold;
          font-size: 22px;
          @include media-breakpoint-down(sm) {
            font-size: 21px;
          }
        }
        .general-average__text {
          font-size: $font-size-base;
          line-height: $line-height-small;
          width: 100%;
          margin-top: 10px;
          margin-bottom: 20px;
          @include media-breakpoint-down(sm) {
            font-size: 14px;
          }
        }
      }
      .rating-stars {
        @include rating-stars;
        display: inline-table;
        margin-right: 10px;

        .starfilled {
          width: 90%;
        }
      }

      .slick-reviews {
        width: 100%;

        @include media-breakpoint-down(lg) {
          background: $white;
        }

        .slideset-reviews {
          .slick-list {
            max-width: 95%;
            margin: auto;
          }
          .slick-track {
            .slick-slide {
              padding: 0 8px;
            }
          }
          .review-card {
            background: $white;
            width: 33.33%;
            padding: 20px 10px;
            float: left;
            min-height: 160px;
            outline: none;
            @include media-breakpoint-down(sm) {
              width: 100%;
              margin: 0;
              min-height: auto;
              padding: 20px;
            }
            .rating-stars {
              @include rating-stars;
              display: inline-table;
              .starfilled {
                width: 90%;
              }
            }
            span {
              color: $black;
              display: block
            }
            .review-text {
              $line-height: 1.4;
              $line-clamp-lines: 3;
              $line-clamp-height: $line-clamp-lines * $line-height * 1em;
              font-size: 15px;
              font-weight: $font-weight-medium;
              margin-bottom: 15px;
              margin-top: 15px;
              @include line-clamp($lines: $line-clamp-lines, $height: $line-clamp-height);
            }
            .review-user,
            .review-date {
              font-size: $font-size-base-alt;
              font-weight: $font-weight-bold;
            }
          }
          .slick-arrow {
            position: absolute;
            top: 42%;
            z-index: map_get($z-index, reviews-home-arrow);
            -webkit-appearance: none;
            background: none;
            border: none;
            padding: 5px;
            outline: none;
            color: $black;
            font-size: 22px;
            font-weight: $font-weight-bold;
            &.slick-prev {
              left: 0;
            }
            &.slick-next {
              right: 0;
            }
            &.slick-disabled {
              color: $grey;
              transition: all 0.3s;
              cursor: default;
            }
            @include media-breakpoint-down(sm) {
              color: $green;
            }

          }
          .slick-dots {
            text-align: center;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline-block;
            li {
              display: none;
              button {
                display: none;
              }
            }
          }
        }
      }
      .trusted-shops {
        margin: 5px auto;
        padding: 10px;
        .icon-circle_check {
          color: $green;
          font-size: 14px;
          vertical-align: text-bottom;
        }
        .trusted-text {
          font-size: 13px;
          font-weight: $font-weight-medium;
          color: $black;
        }
        a {
          .trusted-image {
            background-image: url("../images/home/trusted.png");
            width: 80px;
            height: 33px;
            display: inline-block;
            background-size: contain;
          }
        }
      }
    }
  }
}