.page-footer {
  background: $white;
  //margin-top: 30px;
  div[data-content-type='row'] {
    > div {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
  .footer-inner {
    /* Newsletter subs */
    .newsletter-footer {
      position: relative;
      padding: 30px 0;
      .block-subscribe {
        .container {
          @include container;
          .block-content {
            margin: auto;
            padding: 0 10px;
            width: 50%;
            @include media-breakpoint-down(md) {
              width: 80%;
            }
            @include media-breakpoint-down(sm) {
              width: 100%;
            }
            .text-block { 
              font-size: 24px;
              color: $black;
              font-weight: $font-weight-bold;
              text-align: center;
              @include media-breakpoint-down(sm) {
                  font-size: 1.3rem;
              }
            }
            .input-box {
              display: flex;
              align-items: center;
              justify-content: space-around;
              position: relative;
              @include media-breakpoint-down(sm) {
                display: block;
              }
              label {
                color: $dark-grey;
                top: 0;
                left: 15px;
                &:before {
                  display: none;
                }
              }
              input {
                border: 1px solid #dedede;
                height: 48px;
                &:focus {
                  border: 1px solid $black;
                  box-shadow: 0 0 0 2px #ededed;
                }
                &.mage-error {
                  border: 1px solid $pink;
                }
                + .mage-error {
                  position: absolute;
                  bottom: -20px;
                  width: 100%;
                }
              }
              .actions {
                position: relative;
                left: 10px;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    left: auto;
                    margin-top: 10px;
                }
                button {
                    height: 48px;
                    width: 100%;
                }
              }
            }
            .politica {
              display:none;
              .agreements {
                margin-top: 35px;
                display: block;
                font-size: 11px;
                color: $black;
                line-height: 17px;
                text-align: justify;
                a {
                  text-decoration: underline;
                  color: inherit;
                }
              }
            }
          }
          .messages {
            position: absolute;
            left: 0;
            width: 100%;

            .message {
              height: 50px;
              padding: 15px;
              width: 595px;
              margin: auto;
              font-size: 15px;
              font-weight: $font-weight-medium;
              line-height: 1.13;
              text-align: center;

              @include media-breakpoint-down(sm) {
                width: auto;
                margin: auto 25px;
                height: 110px;
              }


              &.success {
                bottom: 50px;
                border: solid 1px $green;
                background-color: $green-light;
                color: $green;

                > div {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  @include media-breakpoint-down(sm) {
                    flex-flow: column;
                    margin-top: 15px;
                  }

                  &:before{
                    position: relative;
                    display: inline-flex;
                    top: 0;
                    left: auto;
                    margin-right: 5px;
                    background: url("../images/icons/ico-ok.svg") no-repeat;
                    width: 22px;
                    height: 22px;

                    @include media-breakpoint-down(sm) {
                      margin-bottom: 5px;
                    }
                  }
                }
              }

              &.error {
                border: none;
                background-color: transparent;
                color: $pink;
                top: -150px;

                @include media-breakpoint-down(sm) {
                  height: auto;
                  top: -230px;
                  left: -15px;
                }

                > div {
                  display: flex;
                  justify-content: flex-start;
                  font-size: 11px;
                  line-height: 1.5;
                  &:before{
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    /* Links */
    .info-footer {
      background-color: map_get($season, color);
      position: relative;
      padding: 25px 0;
      .container {
        @include container;
        .footer-inner {
          display: flex;
          flex-wrap: wrap;
          padding: 30px 0;
          @include media-breakpoint-down(md) {
            padding: 30px 12%;
          }
          @include media-breakpoint-down(sm) {
            padding: inherit;
          }
          .footer-row {
            flex-basis: 33.33%;
            padding: 0 15px;
            @include media-breakpoint-down(md) {
              flex-basis: 50%;
              padding: 0 25px;
              margin-top: 25px;
              &:last-child {
                  flex-basis: 100%;
                  order: -1;
                  margin-top: 0;
                  text-align: center;
              }
            }
            @include media-breakpoint-down(sm) {
              flex-basis: 100%;
              text-align: center;
              padding: 0 10px;
            }
            .inner {
              .footer-links-title {
                font-size:18px;
                color: $black;
                line-height: 24px;
              }
              ul {
                margin: 0;
                padding: 0;
                list-style: none;
                color: $white;
                li {
                    margin-bottom: 0.5rem;
                    margin-right: 25px;
                    &:last-child {
                      margin-right: 0;
                    }
                    @include media-breakpoint-down(sm) {
                       margin-right: 0;
                    }
                    a {
                        font-weight: $font-weight-medium;
                        color: $white;
                        line-height: 30px;
                    }
                }
                &.contacts {
                  position: relative;
                  li {
                    a {
                      font-weight: $font-weight-bold;
                    }
                  }
                  [class*="-icon"] {
                      margin-right: 10px;
                      color: $black;
                      margin-left: 0;

                      @include media-breakpoint-down(sm) {
                        position: absolute;
                        margin-left: -25px;
                        margin-top: 2px;
                      }
                  }
                  .atc-hour {
                      margin-left: 27px;
                      display: block;
                      line-height: 15px;
                      font-size: 14px;
                    @include media-breakpoint-down(sm) {
                      margin-left: auto;
                      line-height: 17px;
                      font-size: 15px;
                    }
                  }
                }
                &.social-icons {
                  display: flex;
                  justify-content: flex-start;
                  @include media-breakpoint-down(md) {
                    justify-content: center;
                  }
                  @include media-breakpoint-down(sm) {
                    justify-content: space-around;
                    margin-top: 0.5rem;
                  }
                  li {
                    a {
                      &:hover {
                        text-decoration: none;
                      }
                      .module-icon {
                        .icon {
                          font-size: 1.5rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footer__bottom {
    /* Copyright */
    .copyright-footer {
      position: relative;
      padding: 25px 0;
      .block-content {
        display: flex;
        flex-flow: wrap;
        .container {
          @include container;
          .payment-methods {
            text-align: center;

            img {
              width: 35px;
              height: 25px;
              border: 1px solid silver;
              padding: 3px;
            }
          }
          .copyright-text {
            padding: 12px 0 0 0;
            font-size: 12px;
            line-height: 15px;
            color: $black;
            display: flex;
            justify-content: center;
            @include media-breakpoint-down(sm) {
              flex-direction: column;
              text-align: center;
            }
            > * {
                margin: 0 10px;
                @include media-breakpoint-down(sm) {
                  margin: 4px 10px;
                }
            }
            a { 
              color: $black;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  +.icons-wrapper {
    display: none;
  }
}
