.customer-account-login, .customer-account-forgotpassword,
.customer-account-create, .customer-account-createpassword,
.popup-authentication, .block-authentication {
  background: #fafafa;

  .page-title {
    display: none;
  }

  .login-container, .forgot-container, .create-container, .resetforgotpassword-container {
    font-family: $client-font;
    font-size: $font-size-base-custom;
    line-height: 18px;
    justify-content: center;

    .block {
      &-title {
        font-family: $client-font;
        font-size: 20px;
        line-height: 48px;
        padding-bottom: 10px;
        margin-bottom: 0;
        text-align: center;
        color: #000;
        font-weight: $font-weight-bold;
      }

      .fieldset {
        .field {
          &.note {
            margin-bottom: 36px;
          }

          &.email {
            margin-bottom: 30px;
          }
        }

        .secondary {
          .remind.btn-link {
            padding: 0;
            font-family: $client-font-alt;
            letter-spacing: $client-font-alt-letter-spacing;
            font-weight: bolder;
            font-size: 8px;
            line-height: 15px;
          }
        }

        &.login {
          .field {
            &.password {
              .form-group {
                margin-bottom: 10px;
              }
            }

            &.captcha {
              margin-top: 30px;

              .nested {
                margin-top: 23px;

                .captcha-image {
                  .captcha-reload {
                    border: none;
                    background: transparent;
                    margin-left: 20px;
                    font-size: 8px;
                    font-weight: $font-weight-bold;
                    font-family: $client-font-alt;
                    letter-spacing: $client-font-alt-letter-spacing;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }

    .block-new-customer {
      .block-container {
        background-color: $quinary;
      }
    }

    .block-customer-login, .block-new-customer {
      padding: 0;

      .block-container {
        padding: 42px 50px 50px;

        .block-title {
          padding-bottom: 12px;

          strong {
            line-height: 32px;
            vertical-align: top;
          }
        }
      }
    }
  }
}

.customer-account-create {
  .form-create-account, .forget {
    margin-bottom: 65px;

    .fieldset {
      margin-top: 20px;

      .control {
        display: flex;
        flex-direction: column;

        .label {
          display: flex;
          width: auto;
          padding: 0;
        }

        input{
          margin-bottom: 10px;
        }

      }
      .field {

        input[type="checkbox"], input[type="radio"] {
          position: absolute;
          left: -5px;
          top: -10px;
        }

        input[type="password"] {
          padding-left: 10px;
        }

        input[type="textarea"], input[type="text"] input[type="email"], select {
          margin-bottom: 5px;
        }

        &.country {
          label {
            display: none;
          }
        }

      }
      div.mage-error[generated] {
        top: -10px;
        position: relative;
        left: 5px;
      }


      &.forget.info {
        .field {
          .label {
            &.custom-checkbox {
              margin-left: 5px;
              font-weight: $font-weight-base;
            }
          }
        }

        .captcha {
          .nested {
            margin-top: 23px;

            .captcha-image {
              .captcha-reload {
                border: none;
                background: transparent;
                margin-left: 24px;
                font-size: 8px;
                font-weight: $font-weight-bold;
                font-family: $client-font-alt;
                letter-spacing: $client-font-alt-letter-spacing;
              }
            }
          }
        }
      }

      &.create.info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .field {
          flex: 0 0 50%;
          max-width: 50%;

          .label {
            &.custom-checkbox {
              margin-left: 5px;
              font-weight: $font-weight-base;
            }
          }

          &.required {
            .label {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-left: 0;
            }
          }

          .form-group {
            &:after {
              content: '';
              display: none;
            }
          }

          &.street {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;
          }

          &.country {
            .form-group {
              select {
                @extend .form-control;
              }
            }
          }

          &.note {
            margin-bottom: 39px;
          }

          &.choice {
            flex: 0 0 100%;
            max-width: none;
            padding: 0;

            label {
              font-family: $client-font;
              font-weight: normal;

              a {
                text-decoration: underline;
              }
            }
          }
        }

        & > div {
          &:nth-child(2n + 1) {
            //padding-right: 15px;
            padding-left: 0;
          }

          &:nth-child(2n) {
            padding-right: 15px;
          }
        }

        .create-info {
          &.country-info {
            padding-left: 0;
          }
        }
      }

      #password-strength-meter{
        height: auto;
      }
    }

    .legal-note {
      display: none;
    }

    .actions-toolbar {
      margin-top: 20px;
      & > .primary {
        flex: 0 50%;
        max-width: calc(50% - 15px);

        button.submit {
          background: #47bd9b;
          color: #fff;
          border-radius: $border-radius;
        }
      }

      .secondary {
        .action.back {
          display: none;
        }
      }
    }
  }
}

.customer-account-forgotpassword,
.customer-account-createpassword {
  background: #fafafa;

  .block-forgot-password, .block-resetforgotpassword {
    background: $white;
    max-width: 460px;
    background: #fff;
    padding: 20px 35px;
  }

  .block-container {
    width: 100%;
    margin-top: 2px;
  }

  .forget {
    .field {
      &.note {
        margin-bottom: 33px;
        display: none;
      }
    }
  }

  .actions-toolbar {
    .primary {
      width: 100%;
    }

    .secondary {
      text-align: center;
      margin-top: 5px;
    }
  }
}

.block-authentication {
  .login-container {
    width: 80%;
  }
}

.resetforgotpassword-container {
  .field .mage-error[type="password"] {
    border-color: $pink;
  }

  #form-validate .field.required .label {
    font-size: 14px;

    &:before {
      visibility: hidden;
      margin: 0;
      width: 0;
    }
  }
}

@include media-breakpoint-down(md) {
  .customer-account-login, .block-authentication {
    .login-container {
      .block-customer-login, .block-new-customer {
        .block-container {
          padding: 30px 15px;
        }
      }
    }
  }
  .customer-account-create, .customer-account-forgotpassword {
    .form-create-account, .forget {
      .fieldset {
        + .fieldset {
          margin-top: 25px;
        }
      }
    }
  }
  .block-authentication {
    .login-container {
      width: 100%;
    }
  }
  .customer-account-create, .customer-account-forgotpassword {
    .block-title {
      text-align: center;
      color: #000;
      font-size: 20px !important;
      margin-bottom: 0 !important;
      border-bottom: none;
      padding-bottom: 10px !important;
      padding-top: 10px !important;
    }

    .form-create-account, .forget {
      .fieldset {
        .create-info {
          & > div {
            padding: 0;

            &:nth-child(2n + 1) {
              padding: 0;
            }

            &:nth-child(2n) {
              padding: 0;
            }
          }

          .field {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }

      .actions-toolbar {
        & > .primary {
          flex: 0 100%;
          max-width: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .customer-account-login, .block-authentication {
    .login-container {
      .block-customer-login {
        .block-container {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .block {
        + .block {
          margin-top: 25px;
        }
      }
    }
  }
}

.am-login-overlay .am-login-popup#social-login-popup .am-success span {
  font-size: 16px;
  font-weight: bold;

  &:before {
    left: -20px;
  }
}
