/*!
 * @author    Naturitas Team
 * @copyright Copyright © Naturitas (https://www.naturitas.es)
 */

/* recommends slider section styles*/

#frontpage-nosto-1,
#frontpage-nosto-2,
#nosto-page-cart1,
#nosto-page-product1,
#nosto-page-product2,
#nosto-page-category1,
#thankyou-nosto-1 {
  @include container;

  > div {
    // Placeholder content at the beginning
    background-image: url("../images/nosto/nosto_placeholder_dktp.png");
    height: 400px;
    background-position: left;
    background-repeat: repeat-x;
    background-size: contain;
    margin-bottom: 50px;

    > * {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.remove-placeholder {
    > div {
      // Remove placeholder content after
      background-image: none;

      > * {
        transition: opacity 0.5s ease;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

#frontpage-nosto-1,
#frontpage-nosto-2,
#thankyou-nosto-1 {
  > div {
    @include media-breakpoint-up(xl) {
      background-size: 200px auto;
    }
  }
}

#nosto-page-cart1 {
  @include media-breakpoint-up(xl) {
    max-width: 83.33333%; // 10 columns
  }
}

#nosto-page-category1 {
  > div {
    background-image: url("../images/nosto/placeholder-desktop.png");
    background-size: auto;
    height: 235px;
    margin: 15px;
    padding-bottom: 0;

    @include media-breakpoint-down(md) {
      background-image: url("../images/nosto/placeholder-mobile.png");
      height: 350px;
      margin: 0 0 15px 0;
      //background-size: auto;
    }
  }
}

.recommends-section {
  background-color: $gray-pale;
  position: relative;

  .cms-index-index & {
    margin-top: 30px;

    @include media-breakpoint-up(xl) {
      margin-top: 50px;
    }
  }

  .catalog-product-view & {
    margin-top: 20px;

    @include media-breakpoint-up(xl) {
      margin-left: -6px;
      margin-right: -6px;
    }
  }

  .checkout-cart-index & {
    margin-top: 40px;
  }

  .cms-index-index &,
  .catalog-product-view &,
  .checkout-cart-index & {
    @include media-breakpoint-down(lg) {
      // Adjusts slideset to window boundaries
      margin-left: -10px;
      margin-right: -15px;
    }
  }

  .nosto-list {
    transition: opacity 1s ease;
    margin-bottom: 0;
    height: 400px;

    &:not(.slick-initialized) {
      // Hides content while slick is not initialized
      opacity: 0;
    }
  }

  .nosto-header {
    text-align: left;
    margin-bottom: 25px;
    padding-left: 6px;
    display: flex;
    align-items: baseline;
    width: calc(100% - 100px); // Makes room for arrows, preventing text overlapping

    @include media-breakpoint-down(lg) {
      font-size: 22px;
      padding-right: 0;
    }

    .cms-index-index &,
    .catalog-product-view &,
    .checkout-cart-index &,
    .checkout-onepage-success & {
      @include media-breakpoint-up(xl) {
        width: calc(100% - 85px); // Makes room for arrows, preventing text overlapping
      }
    }
  }

  .nosto-header__title {
    @include line-clamp($lines: 1);
    margin-right: auto;
    line-height: 34px;
    @include media-breakpoint-down(sm) {
      @include line-clamp($lines: 2); // make the title in mobile two lines before ellipsis them
    }
  }

  .nosto-count {
    font-size: 16px;
    font-weight: $font-weight-normal;
    color: $grey;
    margin-left: 5px;
    margin-right: 10px;
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .container {
    @include container;

    .cms-index-index & {
      @include media-breakpoint-up(xl) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .catalog-product-view & {
      padding-left: 0;
      padding-right: 0;
    }

    .checkout-cart-index & {
      padding-left: 0;
      padding-right: 0;

      /*@include media-breakpoint-up(xl) {
        max-width: 83.33333%; // 10 columns
      }*/
    }

    .catalog-product-view & {
      padding-left: 0;
      padding-right: 0;
    }

    .checkout-onepage-success & {
      @include media-breakpoint-down(lg) {
        // Adjusts slideset to window boundaries
        max-width: 100vw;
        padding-left: 10px;
        padding-right: 0;
      }
    }

    .recommends-holder {
      display: flex;
      flex-flow: wrap;
      position: relative;
      align-items: center;
      justify-content: space-between;
      .slick-recommends {
        width: 100%;
        display: flex;
        align-items: stretch;
        .slideset-recommends {
          width: 100%;
          .slick-list{
            overflow: hidden;
          }

          .slick-list.draggable {
            @include media-breakpoint-down(md) {
              padding: 0 40px 0 0;
            }
            @media (max-width: 320px) {
              padding: 0 20px 0 0;
            }
          }
          .recommend-item {
            float: left;
            padding: 0 6px;
            outline: none;
          }
          .slick-arrow {
            $arrow-padding: 5px;
            $arrow-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            position: absolute;
            top: -57px;
            -webkit-appearance: none;
            background: $white;
            padding: $arrow-padding;
            outline: none;
            color: $green;
            line-height: 16px;
            font-size: 26px;
            font-weight: bold;
            width: 36px;
            height: 36px;
            border: none;
            box-shadow: $arrow-box-shadow;
            border-radius: 50%;

            .cms-index-index &,
            .catalog-product-view &,
            .checkout-cart-index &,
            .checkout-onepage-success & {
              top: -53px;
            }

            &:not(.slick-disabled) {
              cursor: pointer;
            }

            &:focus {
              box-shadow: $arrow-box-shadow !important;
            }

            &.slick-prev {
              right: 60px;
              // visually centers arrow on circle
              padding-left:  $arrow-padding - 1;
              padding-right: $arrow-padding + 1;

              .cms-index-index &,
              .catalog-product-view &,
              .checkout-cart-index &,
              .checkout-onepage-success & {
                @include media-breakpoint-up(xl) {
                  right: 45px;
                }
              }
            }
            &.slick-next {
              right: 15px;
              // visually centers arrow on circle
              padding-left:  $arrow-padding + 1;
              padding-right: $arrow-padding - 1;

              .cms-index-index &,
              .catalog-product-view &,
              .checkout-cart-index &,
              .checkout-onepage-success & {
                @include media-breakpoint-up(xl) {
                  right: 0;
                }
              }
            }
            &.slick-disabled {
              color: $grey;
              transition: all 0.3s;
            }
          }
          .slick-dots {
            text-align: center;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline-block;
            li {
              display: none;
              button {
                display: none;
              }
            }
          }
        }
      }
      .product-item {
        border-radius: 2px;
        background-color: $white;
        a {
          outline: none;
          text-decoration: none;
        }
        .product-item-holder {
          padding: 12px 6px;
          position: relative;
          margin-top: 5px;    // Makes box-shadow not being cut
          margin-bottom: 5px; // Makes box-shadow not being cut

          &:hover {
            box-shadow: 0 0 5px 2px $light-grey;
            border-radius: 2px;
          }
          .discount {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 50px 0 0;
            border-color: $pink-light transparent transparent transparent;
            position: absolute;
            top: 0;
            left: 0;
            border-top-left-radius: 4px;
            -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
            clip-path: polygon(100% 0, 0% 100%, 0 0);
            span {
              text-align: center;
              color: $white;
              font-size: 18px;
              font-weight: $font-weight-medium;
              letter-spacing: -0.3px;
              line-height: $line-height-smaller;
              position: absolute;
              top: -45px;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
          }
          .presentation {
            font-size: 13px;
            font-weight: 500;
            @include line-clamp($lines: 1);
          }
          .img-holder {
            img {
              margin: auto;
              display: block;
              height: auto;
              max-width: 100%;
            }
          }
          .brand-name {
            font-size: 13px;
            color: $dark-grey;
            display: block;
            padding: 5px 0 0;
            text-align: left;
            @include line-clamp($lines: 1);
          }
          .product-name {
            font-weight: $font-weight-medium;
            font-size: 14px;
            color: $black;
            line-height: $line-height-small;
            margin-bottom: .5rem;
            padding: 0;
            text-align: left;
            word-break: break-word;
            min-height: 3.8em; // To make all names same height, no matter how many lines has

            @include media-breakpoint-down(sm) {
              font-size: 12px;
              min-height: 4.5em; // To make all names same height, no matter how many lines has
            }
            a {
              color: inherit;
              font-size: 14px;
              @include line-clamp($lines: 2);
            }

          }
          .ratings-box {
            display: flex;
            align-items: flex-start;
            min-height: 1.3em;
            justify-content: flex-start;
            .rating-stars {
              @include rating-stars;
              display: inline-table;
              .starfilled {
                //width: 88%;
                //margin: 0 1px;
              }
            }
            .amount {
              color: $grey;
              font-size: 13px;
              font-weight: $font-weight-medium;
              line-height: $line-height-small;
              margin-left: 4px;
            }
          }
          .price-box {
            margin-bottom: $product-card-price-margin-bottom;
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
            .special-price {
              color: $black;
              font-weight: $font-weight-bold;
              font-size: 22px;
              line-height: $line-height-small;
              margin-right: 5px;
              @include media-breakpoint-down(sm) {
                font-size: $h5-font-size;
              }
            }
            .old-price {
              color: $grey;
              font-size: $font-size-base;
              font-weight: $font-weight-normal;
              line-height: $line-height-base;
              text-decoration: line-through;
              @include media-breakpoint-down(sm) {
                font-size: 12px;
              }
            }
          }
          .btn {
            font-size: 16px;
            padding: 6px 0;
            width: 100%;
            height: auto;
            @include media-breakpoint-down(sm) {
              font-size: 15px;
            }

            &.waiting {
              padding-top: 4px;
              padding-bottom: 0;
            }

            [class*="icon-"] {
              font-weight: $font-weight-bold;
              position: relative;
              top: 2px;
            }
          }
        }
      }
    }
  }
}
