.checkout-onepage-success {
  .main {
    display: block;
  }
}

.checkout-success {
  text-align: center;
  padding: 65px 10px 50px;
  max-width: 595px;
  margin-left: auto;
  margin-right: auto;

  .order-summary {
    background-color: $white;
    padding: 12px;
    margin-top: 20px;
  }

	.actions-toolbar {
    margin-top: 55px;
  }
}

.checkout-success__head {
  .icon {
    width: 70px;
    height: 70px;
    color: $green;
  }
}

.checkout-success__h1 {
  font-size: 2rem;
  font-weight: $font-weight-bold;
  color: $black;
  margin-top: 10px;
}

.checkout-success__h2 {
  font-size: inherit;
  font-weight: $font-weight-bold;
  color: $black;
  margin-top: 20px;
	margin-bottom: 25px;
}

.checkout-success__text {
  a {
    text-decoration: underline;
  }
}

.success_message_banktransfer,
.success_message_checkmo,
.success_message_cashondelivery,
.success_message_multibanco {
  @include unstyle-block-divs();

  .payment-inner {
    background-color: $white;
    color: $black;
    text-align: left;
    line-height: 20px;
    padding: 12px;
    display: table;
    width: 100%;
    .payment-inner-next-steps,
    .payment-inner-mb {
      font-size: 22px;
      line-height: 18px;
      font-weight: bold;
    }
    .payment-inner-shortdesc,
    .payment-inner-mb-2 {
      font-size: 14px;
      font-weight: bold;
    }
    .payment-inner-mb-2 {
      text-transform: capitalize;
    }
    .payment-inner-banknumber,
    .payment-inner-moneyamount,
    .payment-inner-multibanco {
      color: inherit;
      font-size: 20px;
      letter-spacing: 0.4px;
      font-weight: bold;
      padding: 10px 10px;
      border-radius: 2px;
      border: 1px dashed $green;
      background-color: #f1fcf9;
      @include media-breakpoint-down(sm) {
        font-size: $font-size-base;
      }
    }
    .payment-inner-moneyamount {
      display: inline-block;
      float: left;
      margin-right: 20px;
    }
    .payment-inner-longdesc {
      font-size: 14px;
    }

    .payment-inner-mb-entity,
    .payment-inner-mb-ref {
      font-size: 15px;
      line-height: 1.53;
      font-weight: normal;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.refer-friend {
  @include unstyle-block-divs();

  .refer-friend-inner {
    margin-top: 1rem;
    background-color: $white;
    color: $black;

    .refer-friend-inner-head {
      padding: 2rem;
      background-image: url("../images/thankyou-page/refer-friend.svg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 1rem;
      min-height: 107px;
      @include media-breakpoint-down(sm) {
        padding: 1rem;
        min-height: 81px;
      }
      .refer-friend-title {
        font-weight: $font-weight-bolder;
        @include media-breakpoint-down(sm) {
          font-size: 22px;
          line-height: 18px;
        }
      }
      .refer-friend-subtitle {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
        @include media-breakpoint-down(sm) {
          font-size: 15px;
        }
      }
    }

    .refer-friend-inner-body {
      padding: 0 1rem 1rem;
      .refer-friend-text {
        @include media-breakpoint-down(sm) {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .actions {
        margin-bottom: 1rem;
        .btn {
          font-size: 18px;
          font-weight: $font-weight-bold;
          @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
          }
        }
      }
      small {
        @include media-breakpoint-down(sm) {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

  .customer-support-details {
    display: none;
  }
}

.checkout-success__mail {
  color: $green;
}

.checkout-success__customer-support {
  @include unstyle-block-divs();
  margin-top: 50px;

  @include media-breakpoint-down(lg) {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
  .refer-friend-inner {
    display: none;
  }
}

.checkout-success__customer-support-head {
  font-size: 18px;
  font-weight: $font-weight-medium;
}