h1, .h1 {
  font-size: 42px;
}
h2, .h2 {
  color: $black;
  font-size: $h3-font-size;
  font-weight: $font-weight-bold;
  line-height: $headings-line-height;
  width: 100%;
  margin-bottom: 1rem;
  @include media-breakpoint-down(lg) {
    padding: 0 10px;
  }
  @include media-breakpoint-down(sm) {
    font-size: $h4-font-size;
  }
}
h3, .h3 {
  font-size: 28px;
  @include media-breakpoint-down(xs) {
    font-size: 16px;
  }
}
h4, .h4 {
  font-size: 24px;
}
h5, .h5 {
  font-size: 22px;
}
h6, .h6 {
  font-size: 20px;
}
p {
  font-size: 15px;
}